<%= form_for(@notification_master) do |f| %>
  <% if @notification_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification_master.errors.count, "error") %> prohibited this notification_master from being saved:</h2>

      <ul>
      <% @notification_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
