<div class="row-fluid">
  <%= nested_form_for(@notification_master,html: {class: "form-horizontal"}) do |f| %>
      <% if @notification_master.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@notification_master.errors.count, "error") %> prohibited this notification_master from being saved:</h2>

            <ul>
              <% @notification_master.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :code,:class => "control-label"  %>
            <label for="<%= @form[:code].to_s %>" class="control-label"><%= @form[:code].to_s %></label>
            <div class="controls">
              <%= f.text_field :code %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :title,:class => "control-label"  %>
            <label for="<%= @form[:title].to_s %>" class="control-label"><%= @form[:title].to_s %></label>
            <div class="controls">
              <%= f.text_field :title %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :description,:class => "control-label"  %>
            <label for="<%= @form[:description].to_s %>" class="control-label"><%= @form[:description].to_s %></label>
            <div class="controls">
              <%= f.text_area(:description, size:"20x5")  %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :type,:class => "control-label"  %>
            <label for="<%= @form[:type].to_s %>" class="control-label"><%= @form[:type].to_s %></label>
            <div class="controls">
              <%= f.text_field :type %>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <%= f.fields_for :notification_details do |notification_details| %>
          <div class="row-fluid">
            <div class="span12">
              <div class="control-group">
                <%#= notification_details.label :notification_master_id,:class => "control-label" %>
                <label for="<%= @form[:notification_master_id].to_s %>" class="control-label"><%= @form[:notification_master_id].to_s %></label>
                <div class="controls">
                  <%= notification_details.text_field :notification_master_id %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= notification_details.label :event,:class => "control-label" %>
                <label for="<%= @form[:event].to_s %>" class="control-label"><%= @form[:event].to_s %></label>
                <div class="controls">
                  <%= notification_details.text_field :event %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= notification_details.label :sender,:class => "control-label" %>
                <label for="<%= @form[:sender].to_s %>" class="control-label"><%= @form[:sender].to_s %></label>
                <div class="controls">
                  <%= notification_details.text_field :sender %>
                </div>
              </div>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= notification_details.link_to_remove "Remove this record" %>
            </div>
          </div>

      <% end %>
      <%= f.link_to_add "Add new record", :notification_details %>
      <hr>


      <%= f.fields_for :email_details do |email_details| %>
          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= email_details.label :event,:class => "control-label" %>
                <label for="<%= @form[:email_detail_event].to_s %>" class="control-label"><%= @form[:email_detail_event].to_s %></label>
                <div class="controls">
                  <%= email_details.text_field :event %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= email_details.label :sender,:class => "control-label" %>
                <label for="<%= @form[:email_detail_sender].to_s %>" class="control-label"><%= @form[:email_detail_sender].to_s %></label>
                <div class="controls">
                  <%= email_details.text_field :sender %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= email_details.label :attachment1,:class => "control-label" %>
                <label for="<%= @form[:email_detail_attachment1].to_s %>" class="control-label"><%= @form[:email_detail_attachment1].to_s %></label>
                <div class="controls">
                  <%= email_details.file_field :attachment1 %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= email_details.label :attachment2,:class => "control-label" %>
                <label for="<%= @form[:email_detail_attachment2].to_s %>" class="control-label"><%= @form[:email_detail_attachment2].to_s %></label>
                <div class="controls">
                  <%= email_details.file_field :attachment2 %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= email_details.label :attachment3,:class => "control-label" %>
                <label for="<%= @form[:email_detail_attachment3].to_s %>" class="control-label"><%= @form[:email_detail_attachment3].to_s %></label>
                <div class="controls">
                  <%= email_details.file_field :attachment3 %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= email_details.label :attachment4,:class => "control-label" %>
                <label for="<%= @form[:email_detail_attachment4].to_s %>" class="control-label"><%= @form[:email_detail_attachment4].to_s %></label>
                <div class="controls">
                  <%= email_details.file_field :attachment4 %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= email_details.label :attachment5,:class => "control-label" %>
                <label for="<%= @form[:email_detail_attachment5].to_s %>" class="control-label"><%= @form[:email_detail_attachment5].to_s %></label>
                <div class="controls">
                  <%= email_details.file_field :attachment5 %>
                </div>
              </div>
            </div>
          </div>

        <div class="control-group">
          <div class="controls">
            <%= email_details.link_to_remove "Remove this record" %>
          </div>
        </div>

  <% end %>
  <%= f.link_to_add "Add new record", :email_details %>
  <hr>


      <% @fields = DynamicField.where(:oclass=>"NotificationMaster") %>
      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym,:class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym )%>
            </div>
          </div>
      <% end %>


      <div class="form-actions">
        <%= f.submit @form_config[:submit], :class=>"btn btn-info" %>
      </div>
  <% end %>

</div>

