<h1>Listing notification_masters</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Title</th>
    <th>Description</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notification_masters.each do |notification_master| %>
  <tr>
    <td><%= notification_master.code %></td>
    <td><%= notification_master.title %></td>
    <td><%= notification_master.description %></td>
    <td><%= notification_master.type %></td>
    <td><%= link_to 'Show', notification_master %></td>
    <td><%= link_to 'Edit', edit_notification_master_path(notification_master) %></td>
    <td><%= link_to 'Destroy', notification_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notification master', new_notification_master_path %>
