<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="offset1 span6">
    <div class="table-header">
      Notification Master Details :-
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Code</th>
            <td><%= @notification_master.code %></td>
          </tr>
          <tr>
            <th>Title</th>
            <td><%= @notification_master.title %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= raw @notification_master.description %></td>
          </tr>
          <% if !@notification_master.link.nil? %>
          <tr>
            <th>File</th>
            <td>
              <%= link_to "Downlaod", mark_read_path(:test => @download)%>
            </td>
          </tr>
          <% end %>
          <tr>
            <th>Type</th>
            <td><%= @notification_master.type %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Edit', edit_notification_master_path(@notification_master) %> |
<%= link_to 'Back', notification_masters_path %>
