    <% @fields1 = t('forms.'+fi+'.fields') %>
    <% @fields_name = @fields1[:tabs].map { |i, v| v } %>
    <% @fields_name.each_with_index do |tab_val, index| %>
        <% if tab_val[:type]!="sub-form" %>
            <div class="row-fluid">
              <% @tab_val = tab_val[:cols].map { |i, v| v } %>
              <% @tab_val.each_with_index do |col_val, index| %>
                  <div class="span6">
                    <% @col_val = col_val.map { |i, v| v } %>
                    <% @col_val.each_with_index do |cv| %>
                        <div class="control-group">
                          <label for="<%= cv[:label] %>" class="control-label"><%= cv[:label] %></label>
                          <div class="controls">
                            <% case cv[:type] %>
                            <% when "text_field_tag" %>
                                <%= text_field_tag "#{main_form}[#{fi.pluralize.underscore}[#{form_index}][#{cv[:attribute]}]]" %>
                            <% when "select_tag" %>
                                <% if cv[:options] == 'model' %>
                                    <%= select_tag "#{main_form}[#{fi.pluralize.underscore}[#{form_index}][#{cv[:attribute]}]]", options_from_collection_for_select(eval(cv[:attribute].gsub("_id", "").camelize).all, 'id', 'id') %>
                                <% else %>
                                    <%= select_tag "#{main_form}[#{fi.pluralize.underscore}[#{form_index}][#{cv[:attribute]}]]", options_for_select([""]+ cv[:options]) %>
                                <% end %>
                            <% end %>
                          </div>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </div>
        <% else %>
            <div class="row-fluid">
              <% @this_sf = tab_val[:attribute] %>
              <% @new_fields = t('forms.'+@this_sf+'.fields.tabs.tab1.cols.col1') %>
              <% @new_fields = @new_fields.map { |i, v| v } %>
              <% @nf = @new_fields.to_json %>
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <% @new_fields.each do |nf| %>
                      <th><label for="<%= nf[:label] %>" class="control-label"><%= nf[:label] %></label></th>
                  <% end %>
                </tr>
                </thead>
                <tbody class="my_body">
                <% @my_index=0 %>
                <tr class="salary_comp_row">
                  <% @new_fields.each do |nf| %>
                      <td>
                        <% case nf[:type] %>
                        <% when "text_field_tag" %>
                            <%= text_field_tag "#{main_form}[#{fi.pluralize.underscore}[#{form_index}][#{@this_sf.pluralize.underscore}[#{@my_index}][#{nf[:attribute]}]" %>
                        <% when "select_tag" %>
                            <% if nf[:options] == 'model' %>
                                <%= select_tag "#{main_form}[#{fi.pluralize.underscore}[#{form_index}][#{@this_sf.pluralize.underscore}[#{@my_index}][#{nf[:attribute]}]", options_from_collection_for_select(eval(nf[:attribute].gsub("_id", "").underscore).all, 'id', 'id') %>
                            <% else %>
                                <%= select_tag "#{main_form}[#{fi.pluralize.underscore}[#{form_index}][#{@this_sf.pluralize.underscore}[#{@my_index}][#{nf[:attribute]}]", options_for_select([""]+ nf[:options]) %>
                            <% end %>
                        <% end %>
                      </td>
                  <% end %>
                </tr>

                <%#= render :partial => 'nested_sub_form', :locals => {:new_fields => @new_fields, :main_form => main_form, :fi => fi, :form_index => form_index, :this_sf =>@this_sf, :my_index =>(@my_index+1) } %>
                </tbody>
                <input type="hidden" class="my_index" value="0"/>
                <input type="button" name="Add New" id="addNew" value="Add New" class="btn btn-info" onclick='add_new_nested_fields(this,<%= raw @nf %>,"<%= main_form %>","<%= fi %>","<%= form_index %>","<%= @this_sf %>")'/>
              </table>

            </div>
        <% end %>
    <% end %>


