<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="offset1 span6">
    <div class="table-header">
      Employee Master Details :-
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
      <% instance_variable_get("@#{params[:model_name].underscore}").class.fields.keys.each do |cls| %>
          <tr>

            <% if cls=="_id"%>
            <% elsif cls!="_id" and cls.include?("_id") %>
                <% @class = cls.gsub("_id","").camelize %>
                <% @class = eval(@class) %>
                <% @obj_name = @class.fields.keys.map{|i| (i.include?('name')?i:nil) }.compact.first rescue "" %>
                <% @id= instance_variable_get("@#{params[:model_name].underscore}").instance_eval(cls) %>
                <th><%= t("config.#{@class_name}.form.new.fields."+cls) %></th>
                <td><%= @class.find(@id).instance_eval(@obj_name) rescue "" %></td>
            <%else%>
                <th><%= t("config.#{@class_name}.form.new.fields."+cls) %></th>
                <td><%= instance_variable_get("@#{params[:model_name].underscore}").instance_eval(cls) %></td>
            <%end%>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

    <div class="row-fluid">
      <div class="offset2 span2">
        <%= button_tag "Approve", :class=>"btn btn-info", :id=>"approve_btn" %>
      </div>
      <div class="span2">
        <%= button_tag "Reject", :class=>"btn btn-danger", :id=>"reject_btn" %>
      </div>
    </div>


<%#= link_to 'Edit', edit_employee_master_path(@employee_master) %> |
<%#= link_to 'Back', employee_masters_path %>

<script>
    $(function(){
        $("#approve_btn").on('click', function(){

            var emp_id = "<%#= @employee_master.id %>";

            var data = {emp_id: []};
            data["emp_id"].push(emp_id);
            <% step_no = ApprovalMat.find(params[:approval_id]).step_no  %>
            $.ajax({
                url: "/approve_process/<%= params[:approval_id] %>/<%= params[:process_id] %>/<%= step_no %>/<%= current_user.employee_master._id %>",
                type: "post",
                async: false,
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    alert(data);
                }
            });

        });
    });
</script>
