<div class="page-header">
  <h1><%= @form_config[:name] %></h1>
</div>

<%= render :partial => "#{params[:model_name].underscore.pluralize}/form" %>
<%= hidden_field_tag :process_id, params[:process_id] %>
<%= hidden_field_tag :seq, params[:seq] %>
<%= link_to 'Back', eval("#{params[:model_name].underscore.pluralize}_path") %>
