<%= nested_form_for "@#{@object.underscore}" do |f| %>
<%#= nested_form_for @real_obj do |f| %>

    <% @form.each  do |_,rc| %>
        <% rc.each do |r| %>
            <% case r[1][:level] %>
            <% when "this" %>
                <label for="<%= r[1][:label].to_s %>" class="control-label"><%= r[1][:label].to_s %></label>
                <% case r[1][:type] %>
                <% when "text_field" %>
                    <%= f.send(r[1][:type].to_sym, r[1][:attribute].to_sym) %>
                <% when "select" %>
                    <%= f.send(r[1][:type].to_sym, r[1][:attribute].to_sym, options_from_collection_for_select(VacancyScheduling.all, 'id','name'), {:include_blank => "Select"}) %>
                <% end %>
            <% when "nested" %>
                <% @nf = ":#{r[1][:attribute]}" %>
                <%= f.fields_for @nf.to_sym do |score_receiveds| %>
                    <h3><%= r[1][:label] %></h3>
                    <div class="control-group">
                      <% @fi = r[1][:fields] %>
                      <% @fi.each do |i,fil| %>
                          <% case fil[:level] %>
                          <% when "this" %>
                              <label for="<%= fil[:label].to_s %>" class="control-label"><%= fil[:label].to_s %></label>
                              <% case fil[:type] %>
                              <% when "text_field" %>
                                  <%= f.send(fil[:type].to_sym, fil[:attribute].to_sym) %>
                              <% when "select" %>
                                  <%= f.send(fil[:type].to_sym, fil[:attribute].to_sym, options_from_collection_for_select(VacancyScheduling.all, 'id','name'), {:include_blank => "Select"}) %>
                              <% end %>
                          <% when "nested" %>
                              <% @nf2 = ":#{fil[:attribute]}" %>
                              <%= @nf2 %>
                          <% end %>
                      <% end %>
                      <%= score_receiveds.link_to_remove "Remove this task" %>
                    </div>
                <% end %>
                <%= f.link_to_add "Add new record", :score_receiveds %>
            <% end %>
        <% end %>
    <% end %>

<% end %>