<%= form_for(@document_master) do |f| %>
  <% if @document_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document_master.errors.count, "error") %> prohibited this document_master from being saved:</h2>

      <ul>
      <% @document_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :doc_code %><br />
    <%= f.text_field :doc_code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :vc_needed %><br />
    <%= f.check_box :vc_needed %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.number_field :owner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
