<div class="row-fluid">
  <%#= form_for @document_master,:url => (@new ? generic_create_path(@document_master.class) : generic_update_path(@document_master.class,@document_master.id)) do |f| %>
  <%= form_for @document_master do |f| %>
      <% if @document_master.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@document_master.errors.count, "error") %> prohibited this document_master from being saved:</h2>

            <ul>
              <% @document_master.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="control-group">
        <%#= f.label :doc_code,:class => "control-label" %>
        <label for="<%= @form[:doc_code].to_s %>" class="control-label"><%= @form[:doc_code].to_s %></label>
        <div class="controls">
          <%= f.text_field :doc_code %>
        </div>
      </div>

      <div class="control-group">
        <%#= f.label :document_template_master_id,:class => "control-label" %>
        <label for="<%= @form[:document_template_master_id].to_s %>" class="control-label"><%= @form[:document_template_master_id].to_s %></label>
        <div class="controls">
          <%= f.select :document_template_master_id, options_from_collection_for_select(DocumentTemplateMaster.all,'id','dt_code'), {:include_blank => "Select"}, {:class => "chzn-select"} %>
        </div>
      </div>

      <div class="control-group">
        <%#= f.label :name,:class => "control-label" %>
        <label for="<%= @form[:doc_name].to_s %>" class="control-label"><%= @form[:doc_name].to_s %></label>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>


      <div class="control-group">
        <%#= f.label :vc_needed,:class => "control-label" %>
        <label for="<%= @form[:vc_needed].to_s %>" class="control-label"><%= @form[:vc_needed].to_s %></label>
        <div class="controls">
          <%= f.check_box :vc_needed %>
        </div>
      </div>


      <div class="control-group">
        <%#= f.label :owner,:class => "control-label" %>
        <label for="<%= @form[:owner].to_s %>" class="control-label"><%= @form[:owner].to_s %></label>
        <div class="controls">
          <%= f.number_field :owner %>
        </div>
      </div>

      <div class="control-group">
        <%#= f.label :dfile,:class => "control-label" %>
        <label for="<%= @form[:dfile].to_s %>" class="control-label"><%= @form[:dfile].to_s %></label>
        <div class="controls">
          <%= f.file_field :dfile %>
        </div>
      </div>

      <% @fields = DynamicField.where(:oclass=>"DocumentMaster") %>
      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym,:class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym )%>
            </div>
          </div>
      <% end %>

      <% if !params[:process_id].nil? %>
          <%= hidden_field_tag :process_id, params[:process_id] %>
          <%= hidden_field_tag :seq, params[:seq] %>
      <% end %>

      <div class="form-actions">
        <%= f.submit @form_config[:submit], :class=>"btn btn-info" %>
      </div>

  <% end %>
</div>

<!--<link rel="stylesheet" href="/assets/chosen.css" />-->
<script type="text/javascript" src="/assets/chosen.jquery.min.js"></script>

<script>
    $(function(){
        $(":checkbox").css('opacity','1');

        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({allow_single_deselect:true});
    });
</script>

