<h1>Listing Document Masters</h1>

<div class="row-fluid">
  <div class="offset1 span8">
    <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th>Doc Code</th>
            <th>Name</th>
            <th>Vc Needed</th>
            <th>Owner</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @document_masters.each do |document_master| %>
              <tr>
                <td><%= document_master.doc_code %></td>
                <td><%= document_master.name %></td>
                <td><%= document_master.vc_needed %></td>
                <td><%= document_master.owner %></td>
                <td><%= link_to 'Show', document_master %></td>
                <td><%= link_to 'Edit', edit_document_master_path(document_master) %></td>
                <td><%= link_to 'Destroy', document_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<br />

<%= link_to 'New Document master', new_document_master_path %>
