<a href="#" class="dropdown-toggle">
  <i class="icon-group"></i>
  <span>Recruitment</span>
  <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
  <li><%= link_to "Interview Type", @interview_types_path %></li>
  <li><%= link_to "Ratings", @ratings_path %></li>
  <li><%= link_to "Rating Scales", @rating_scales_path %></li>
  <li><%= link_to "Vacancy Master", @vacancy_masters_path %></li>
  <li><%= link_to "Vacancy Scheduling", @vacancy_schedulings_path %></li>
</ul>