<%= nested_form_for(@company_master) do |f| %>
    <% if @company_master.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company_master.errors.count, "error") %> prohibited this company_master from being
            saved:</h2>

          <ul>
            <% @company_master.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <li><a data-toggle="tab" href="#new_comp_tab">New Company</a></li>
        <li><a data-toggle="tab" href="#address_tab">Company Address</a></li>
        <li><a data-toggle="tab" href="#remarks_tab">Remarks</a></li>
        <li><a data-toggle="tab" href="#band_tab">Band</a></li>
      </ul>

      <div class="tab-content">
        <div id="new_comp_tab" class="tab-pane in active">
          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= raw custom_lable(@company_master, :company_code) %>
                <div class="controls">
                  <%= f.text_field :company_code %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%= raw custom_lable(@company_master, :company_name) %>
                <div class="controls">
                  <%= f.text_field :company_name %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= raw custom_lable(@company_master, :office_phone_number) %>
                <div class="controls">
                  <%= f.text_field :office_phone_number %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%= raw custom_lable(@company_master, :client_id) %>
                <div class="controls">
                  <%= f.select :client_id, options_from_collection_for_select(Client.all,'id','name') %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= raw custom_lable(@company_master, :office_fax_number_1) %>
                <div class="controls">
                  <%= f.text_field :office_fax_number_1 %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%= f.label :office_fax_number_2, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :office_fax_number_2 %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= f.label :vat_reg_number, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :vat_reg_number %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%= f.label :st_reg_number, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :st_reg_number %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= raw custom_lable(@company_master, :pan_number) %>
                <div class="controls">
                  <%= f.text_field :pan_number %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= f.label :pf_reg_number, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :pf_reg_number %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%= f.label :esic_reg_number, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_field :esic_reg_number %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="remarks_tab" class="tab-pane">
          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= f.label :remarks_1, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_area(:remarks_1, size:"40x3") %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%= f.label :remarks_2, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_area(:remarks_2, size:"40x3") %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= f.label :remarks_3, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_area(:remarks_3, size:"40x3") %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%= f.label :remarks_4, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_area(:remarks_4, size:"40x3") %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%= f.label :remarks_5, :class => "control-label" %>
                <div class="controls">
                  <%= f.text_area(:remarks_5, size:"40x3") %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="band_tab" class="tab-pane">
          <div class="control-group">
            <h3>Enter Band for Company</h3>
            <%= f.fields_for :band_masters do |band| %>
                <div class="control-group">
                  <%= band.label :band_code,:class => "control-label" %>
                  <div class="controls">
                    <%= band.text_field :band_code %>
                  </div>
                </div>

                <div class="control-group">
                  <%= band.label :band_name,:class => "control-label" %>
                  <div class="controls">
                    <%= band.text_field :band_name %>
                  </div>
                </div>

                <div class="control-group">
                  <div class="controls">
                    <%= band.link_to_remove "Remove this task" %>
                  </div>
                </div>

            <% end %>
            <%= f.link_to_add "Add New Band", :band_masters %></p>
          </div>
        </div>

        <div id="address_tab" class="tab-pane">
          <p>
            <%= f.fields_for :company_addresses do |employment_hists| %>
            <span class="row-fluid">
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :address1,:class => "control-label" %>
                  <div class="controls">
                      <%= employment_hists.text_area(:address1, :size=>"40x4") %>
                  </div>
                </div>
              </span>
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :address,:class => "control-label" %>
                  <div class="controls">
                    <%= employment_hists.text_area(:address, :size=>"40x4")  %>
                  </div>
                </div>
              </span>
            </span>


            <span class="row-fluid">
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :city,:class => "control-label" %>
                  <div class="controls">
                    <%= employment_hists.text_field :city %>
                  </div>
                </div>
              </span>
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :taluka,:class => "control-label" %>
                  <div class="controls">
                    <%= employment_hists.text_field :taluka %>
                  </div>
                </div>
              </span>
            </span>

            <span class="row-fluid">
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :district,:class => "control-label" %>
                  <div class="controls">
                    <%= employment_hists.text_field :district %>
                  </div>
                </div>
              </span>
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :state,:class => "control-label" %>
                  <div class="controls">
                    <%= employment_hists.text_field :state %>
                  </div>
                </div>
              </span>
            </span>

            <span class="row-fluid">
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :country,:class => "control-label" %>
                  <div class="controls">
                    <%= employment_hists.text_field :country %>
                  </div>
                </div>
              </span>
              <span class="span6">
                <div class="control-group">
                  <%= employment_hists.label :pin,:class => "control-label" %>
                  <div class="controls">
                    <%= employment_hists.text_field :pin %>
                  </div>
                </div>
              </span>
            </span>

            <span class="row-fluid">
              <span class="span6">
                <div class="control-group">
                  <div class="controls">
                    <%= employment_hists.link_to_remove "Remove this task" %>
                  </div>
                </div>
              </span>
            </span>


            <% end %>
            <%= f.link_to_add "Employment Hists", :company_addresses, :onclick=>"add_dp()" %></p>
        </div>
      </div>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
