<div class="row-fluid">
  <div class="span4">
    <%= link_to 'New Company Master', new_company_master_path, :class=>"btn btn-info" %>
  </div>
</div>

<br>

<div class="row-fluid">
  <div class="span12">
    <div class="table-header">Listing Company Masters</div>
    <table id="company_master_table" class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th>Company Code</th>
            <th>Company Name</th>
            <th>Office Phone Number</th>
            <th>PAN Number</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @company_masters.each do |company_master| %>
              <tr>
                <td><%= company_master.company_code %></td>
                <td><%= company_master.company_name %></td>
                <td><%= company_master.office_phone_number %></td>
                <td><%= company_master.pan_number %></td>
                <td><%= link_to 'Show', company_master %></td>
                <td><%= link_to 'Edit', edit_company_master_path(company_master) %></td>
                <td><%= link_to 'Destroy', company_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.dataTables.bootstrap" %>
<%= javascript_include_tag "custom_dataTable" %>


<script>
    $(function(){
        apply_dataTable('#company_master_table', '#company_master_table_wrapper','#company_master_table_length', '#company_master_table_filter');
    });
</script>