<p id="notice"><%= notice %></p>
<p id="name"><%= @company_master.company_name %></p>
<p><%= @company_master.company_code %></p>
<p><%= @company_master.company_name %></p>
<p><%= @company_master.office_phone_number %></p>
<p><%= @company_master.pan_number %></p>

<%= link_to 'Edit', edit_company_master_path(@company_master) %> |
<%= link_to 'Back', company_masters_path %>
