<div class="row-fluid">
  <%= form_for(@vendor_master,html: {class: "form-horizontal"}) do |f| %>
      <% if @vendor_master.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@vendor_master.errors.count, "error") %> prohibited this vendor_master from being saved:</h2>

            <ul>
              <% @vendor_master.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="control-group">
        <%= f.label :vendor_code,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :vendor_code %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :vendor_name ,:class => "control-label"%>
        <div class="controls">
          <%= f.text_field :vendor_name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :vendor_type,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :vendor_type %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :office_phone_number,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :office_phone_number %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :office_fax_number1,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :office_fax_number1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :office_fax_number2,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :office_fax_number2 %>
        </div>
      </div>

      <% @fields = DynamicField.where(:oclass=>"VacancyScheduling") %>
      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym,:class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym )%>
            </div>
          </div>
      <% end %>


      <div class="form-actions">
        <%= f.submit :class=>"btn btn-info" %>
      </div>
  <% end %>

</div>

