<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="offset1 span6">
    <div class="table-header">
      Vendor Master Details :-
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Vendor Code</th>
            <td><%= @vendor_master.vendor_code %></td>
          </tr>
          <tr>
            <th>Vendor Name</th>
            <td><%= @vendor_master.vendor_code %></td>
          </tr>
          <tr>
            <th>Vendor Type</th>
            <td><%= @vendor_master.vendor_type %></td>
          </tr>
          <tr>
            <th>Office Phone Number</th>
            <td><%= @vendor_master.office_phone_number%></td>
          </tr>
          <tr>
            <th>Office Fax Number1</th>
            <td><%= @vendor_master.office_fax_number1 %></td>
          </tr>
          <tr>
            <th>Office Fax Number2</th>
            <td><%= @vendor_master.office_fax_number2 %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Edit', edit_vendor_master_path(@vendor_master) %> |
<%= link_to 'Back', vendor_masters_path %>
