<h1>Listing rating_scales</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rating_scales.each do |rating_scale| %>
  <tr>
    <td><%= rating_scale.name %></td>
    <td><%= rating_scale.description %></td>
    <td><%= link_to 'Show', rating_scale %></td>
    <td><%= link_to 'Edit', edit_rating_scale_path(rating_scale) %></td>
    <td><%= link_to 'Destroy', rating_scale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating scale', new_rating_scale_path %>
