<h1>Listing Rating Scales</h1>

<div class="row-fluid">
  <div class="offset1 span8">
    <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @rating_scales.each do |rating_scale| %>
              <tr>
                <td><%= rating_scale.name %></td>
                <td><%= rating_scale.description %></td>
                <td><%= link_to 'Show', rating_scale %></td>
                <td><%= link_to 'Edit', edit_rating_scale_path(rating_scale) %></td>
                <td><%= link_to 'Destroy', rating_scale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>


<br />

<%= link_to 'New Rating scale', new_rating_scale_path %>
