<%= nested_form_for(@approval_mat, html: {class: "form-horizontal"}) do |f| %>
  <% if @approval_mat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approval_mat.errors.count, "error") %> prohibited this approval_mat from being saved:</h2>

      <ul>
      <% @approval_mat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row-fluid">
      <div class="span6">
        <div class="control-group">
          <%= f.label :approved_next_step %>
          <div class="controls">
            <%= f.select :approved_next_step,options_for_select(["Creation", "Updation", "Deletion", "Tagging", "Approval","Notify"], disabled: ""), {:class=>"my_cls"} %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= f.label :reject_next_step %>
          <div class="controls">
            <%= f.select :reject_next_step,options_for_select(["Creation", "Updation", "Deletion", "Tagging", "Approval","Notify"], disabled: ""), {:class=>"my_cls"} %>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <div class="control-group">
          <%= f.label :reminder %>
          <div class="controls">
            <%= f.text_field :reminder %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= f.label :rep_reminder %>
          <div class="controls">
            <%= f.text_field :rep_reminder %>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <div class="control-group">
          <%= f.label :escalate %>
          <div class="controls">
            <%= f.text_field :escalate %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group">
          <%= f.label :rep_escalate %>
          <div class="controls">
            <%= f.text_field :rep_escalate %>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <div class="control-group">
          <%= f.label :auto_assign %>
          <div class="controls">
            <%= f.text_field :auto_assign %>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <h2>Approvers</h2>
    <%= f.fields_for :approvers do |approver| %>
        <div class="row-fluid">
          <div class="span6">
            <div class="control-group">
              <%= approver.label :employee_master_id %>
              <div class="controls">
                <%= approver.select :employee_master_id, options_from_collection_for_select(EmployeeMaster.all, :id, :employee_name, :selected => approver.object.employee_master_id ), {:class=>"my_cls"} %>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <%= approver.label :approved %>
              <div class="controls">
                <%= approver.check_box :approved %>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <div class="control-group">
              <%= approver.label :escalated_from %>
              <div class="controls">
                <%= approver.check_box :escalated_from %>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group">
              <%= approver.label :active %>
              <div class="controls">
                <%= approver.check_box :active %>
              </div>
            </div>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span6">
            <div class="control-group">
              <%= approver.label :auto_assign %>
              <div class="controls">
                <%= approver.check_box :auto_assign %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <%= f.link_to_add "Add new record", :approvers %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
      $('.control-group>label').css({
          'text-align':'left',
          'float':'left'
      });
      $(":checkbox").css('opacity','1');
  })
</script>
