<%= form_for(@employee_master) do |f| %>
    <% if @employee_master.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@employee_master.errors.count, "error") %> prohibited this employee_master from being
            saved:</h2>

          <ul>
            <% @employee_master.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_id %>
      <br/>
      <%= f.number_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :employee_code %>
      <br/>
      <%= f.text_field :employee_code %>
    </div>
    <div class="field">
      <%= f.label :employee_name %>
      <br/>
      <%= f.text_field :employee_name %>
    </div>
    <div class="field">
      <%= f.label :employee_middle_name_name %>
      <br/>
      <%= f.text_field :employee_middle_name_name %>
    </div>
    <div class="field">
      <%= f.label :status %>
      <br/>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :gender %>
      <br/>
      <%= f.text_field :gender %>
    </div>
    <div class="field">
      <%= f.label :marital_status %>
      <br/>
      <%= f.text_field :marital_status %>
    </div>
    <div class="field">
      <%= f.label :date_of_birth %>
      <br/>
      <%= f.date_select :date_of_birth %>
    </div>
    <div class="field">
      <%= f.label :date_of_joining %>
      <br/>
      <%= f.date_select :date_of_joining %>
    </div>
    <div class="field">
      <%= f.label :group_id %>
      <br/>
      <%= f.number_field :group_id %>
    </div>
    <div class="field">
      <%= f.label :designation_joined_at %>
      <br/>
      <%= f.text_field :designation_joined_at %>
    </div>
    <div class="field">
      <%= f.label :current_designation %>
      <br/>
      <%= f.text_field :current_designation %>
    </div>
    <div class="field">
      <%= f.label :job_id %>
      <br/>
      <%= f.number_field :job_id %>
    </div>
    <div class="field">
      <%= f.label :band_id %>
      <br/>
      <%= f.number_field :band_id %>
    </div>
    <div class="field">
      <%= f.label :total_work_exp_years %>
      <br/>
      <%= f.number_field :total_work_exp_years %>
    </div>
    <div class="field">
      <%= f.label :total_work_exp_months %>
      <br/>
      <%= f.number_field :total_work_exp_months %>
    </div>
    <div class="field">
      <%= f.label :official_email %>
      <br/>
      <%= f.text_field :official_email %>
    </div>
    <div class="field">
      <%= f.label :personal_email %>
      <br/>
      <%= f.text_field :personal_email %>
    </div>
    <div class="field">
      <%= f.label :contact_numbers %>
      <br/>
      <%= f.text_field :contact_numbers %>
    </div>
    <div class="field">
      <%= f.label :personal_address %>
      <br/>
      <%= f.text_area :personal_address %>
    </div>
    <div class="field">
      <%= f.label :address_for_communication %>
      <br/>
      <%= f.text_area :address_for_communication %>
    </div>
    <div class="field">
      <%= f.label :bank_name %>
      <br/>
      <%= f.text_field :bank_name %>
    </div>
    <div class="field">
      <%= f.label :account_number %>
      <br/>
      <%= f.text_field :account_number %>
    </div>
    <div class="field">
      <%= f.label :rf_no %>
      <br/>
      <%= f.text_field :rf_no %>
    </div>
    <div class="field">
      <%= f.label :esic_no %>
      <br/>
      <%= f.text_field :esic_no %>
    </div>
    <div class="field">
      <%= f.label :pan_no %>
      <br/>
      <%= f.text_field :pan_no %>
    </div>
    <div class="field">
      <%= f.label :blood_group %>
      <br/>
      <%= f.text_field :blood_group %>
    </div>
    <div class="field">
      <%= f.label :date_of_leaving %>
      <br/>
      <%= f.date_select :date_of_leaving %>
    </div>
    <div class="field">
      <%= f.label :nature_of_separation %>
      <br/>
      <%= f.text_field :nature_of_separation %>
    </div>
    <div class="field">
      <%= f.label :remarks_1 %>
      <br/>
      <%= f.text_area :remarks_1 %>
    </div>
    <div class="field">
      <%= f.label :remarks_2 %>
      <br/>
      <%= f.text_area :remarks_2 %>
    </div>
    <div class="field">
      <%= f.label :remarks_3 %>
      <br/>
      <%= f.text_area :remarks_3 %>
    </div>
    <div class="field">
      <%= f.label :remarks_4 %>
      <br/>
      <%= f.text_area :remarks_4 %>
    </div>
    <div class="field">
      <%= f.label :remarks_5 %>
      <br/>
      <%= f.text_area :remarks_5 %>
    </div>
    <div class="controls" style="max-width: 215px;">
      <%= f.label :employee_cv %>
      <%= f.file_field :employee_cv, :id => "id-input-file-1" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
