<%= form_tag :manager_tag do %>
    <div class="control-group">
      <%= hidden_field_tag :id, @employee_master._id %>
      <%= label_tag "Manager" %>
      <%= select_tag "manager_id", options_from_collection_for_select(EmployeeMaster.all,"id","employee_name")%>
      <%= hidden_field_tag :process_id, params[:process_id] %>
      <%= hidden_field_tag :seq, params[:seq] %>
    </div>
    <%= submit_tag "Confirm" %>
<% end %>