<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @employee_master.user_id %>
</p>

<p>
  <b>Employee code:</b>
  <%= @employee_master.employee_code %>
</p>

<p>
  <b>Employee name:</b>
  <%= @employee_master.employee_name %>
</p>

<p>
  <b>Employee middle name :</b>
  <%= @employee_master.employee_middle_name_name %>
</p>

<p>
  <b>Status:</b>
  <%= @employee_master.status %>
</p>

<p>
  <b>Gender:</b>
  <%= @employee_master.gender %>
</p>

<p>
  <b>Marital status:</b>
  <%= @employee_master.marital_status %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @employee_master.date_of_birth %>
</p>

<p>
  <b>Date of joining:</b>
  <%= @employee_master.date_of_joining %>
</p>

<p>
  <b>Group:</b>
  <%= @employee_master.group_master_id %>
</p>

<p>
  <b>Designation joined at:</b>
  <%= @employee_master.designation_joined_at %>
</p>

<p>
  <b>Official email:</b>
  <%= @employee_master.official_email %>
</p>

<p>
  <b>Address for communication:</b>
  <%= @employee_detail.address_for_communication %>
</p>

<%= link_to 'Edit', edit_employee_master_path(@employee_master) %> |
<%= link_to 'Back', employee_masters_path %>
