<%= nested_form_for(@group_master, html: {class: "form-horizontal"}) do |f| %>
    <% if @group_master.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@group_master.errors.count, "error") %> prohibited this group_master from being saved:</h2>

          <ul>
            <% @group_master.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <label for="<%= @form[:group_name].to_s %>" class="control-label"><%= @form[:group_name].to_s %></label>
      <div class="controls">
        <%= f.text_field :group_name %>
      </div>
    </div>



    <div class="control-group">
      <label for="<%= @form[:company].to_s %>" class="control-label"><%= @form[:company].to_s %></label>
      <div class="controls">
        <%= f.select :company_master_id, options_from_collection_for_select(CompanyMaster.all ,'id','company_name') %>
      </div>
      <% if !params[:process_id].nil? %>
          <%= hidden_field_tag :process_id, params[:process_id] %>
      <% end %>
    </div>

    <div class="control-group">
      <label for="<%= @form[:parent_group].to_s %>" class="control-label"><%= @form[:parent_group].to_s %></label>
      <div class="controls">
        <%= f.select :parent_group_id, options_from_collection_for_select(GroupMaster.all,'id','group_name') %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit @form_config[:submit], :class=>"btn btn-info" %>
    </div>
<% end %>
