<h1>Listing compensation_components</h1>

<table>
  <tr>
    <th>Final ctc fixed</th>
    <th>Final ctc varriable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compensation_components.each do |compensation_component| %>
  <tr>
    <td><%= compensation_component.final_ctc_fixed %></td>
    <td><%= compensation_component.final_ctc_varriable %></td>
    <td><%= link_to 'Show', compensation_component %></td>
    <td><%= link_to 'Edit', edit_compensation_component_path(compensation_component) %></td>
    <td><%= link_to 'Destroy', compensation_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Compensation component', new_compensation_component_path %>
