<p id="notice"><%= notice %></p>

<p>
  <b>Final ctc fixed:</b>
  <%= @compensation_component.final_ctc_fixed %>
</p>

<p>
  <b>Final ctc varriable:</b>
  <%= @compensation_component.final_ctc_varriable %>
</p>


<%= link_to 'Edit', edit_compensation_component_path(@compensation_component) %> |
<%= link_to 'Back', compensation_components_path %>
