<%= form_for(@rating_conf) do |f| %>
  <% if @rating_conf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating_conf.errors.count, "error") %> prohibited this rating_conf from being saved:</h2>

      <ul>
      <% @rating_conf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :col_name %><br />
    <%= f.text_field :col_name %>
  </div>
  <div class="field">
    <%= f.label :col_lable %><br />
    <%= f.text_field :col_lable %>
  </div>
  <div class="field">
    <%= f.label :col_validation %><br />
    <%= f.check_box :col_validation %>
  </div>
  <div class="field">
    <%= f.label :col_type %><br />
    <%= f.text_field :col_type %>
  </div>
  <div class="field">
    <%= f.label :col_seqience %><br />
    <%= f.number_field :col_seqience %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
