<%= form_for @rating_conf,:url => (@new ? generic_create_path(@rating_conf.class) : generic_update_path(@rating_conf.class,@rating_conf.id)) do |f| %>
  <% if @rating_conf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating_conf.errors.count, "error") %> prohibited this rating_conf from being saved:</h2>

      <ul>
      <% @rating_conf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :col_name %><br />
    <label for="<%= @form[:col_name].to_s %>" class="control-label"><%= @form[:col_name].to_s %></label>
    <%= f.text_field :col_name %>
  </div>
  <div class="field">
    <%#= f.label :col_lable %><br />
    <label for="<%= @form[:col_lable].to_s %>" class="control-label"><%= @form[:col_lable].to_s %></label>
    <%= f.text_field :col_lable %>
  </div>
  <div class="field">
    <%#= f.label :col_validation %><br />
    <label for="<%= @form[:col_validation].to_s %>" class="control-label"><%= @form[:col_validation].to_s %></label>
    <%= f.check_box :col_validation %>
  </div>
    <br>
  <div class="field">
    <%#= f.label :col_type %><br />
    <label for="<%= @form[:col_type].to_s %>" class="control-label"><%= @form[:col_type].to_s %></label>
    <%= f.text_field :col_type %>
  </div>
  <div class="field">
    <%#= f.label :col_sequence %><br />
    <label for="<%= @form[:col_sequence].to_s %>" class="control-label"><%= @form[:col_sequence].to_s %></label>
    <%= f.number_field :col_sequence %>
  </div>

  <% if !params[:process_id].nil? %>
    <%= hidden_field_tag :process_id, params[:process_id] %>
    <%= hidden_field_tag :seq, params[:seq] %>
  <% end %>

  <div class="actions">
    <%= f.submit @form_config[:submit], :class=>"btn btn-info" %>
  </div>
<% end %>

<script>
  $(function(){
      $(':checkbox').css('opacity','1');
  })
</script>