<h1>Listing rating_confs</h1>

<table>
  <tr>
    <th>Col Name</th>
    <th>Col Lable</th>
    <th>Col Validation</th>
    <th>Col Type</th>
    <th>Col Sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rating_confs.each do |rating_conf| %>
  <tr>
    <td><%= rating_conf.col_name %></td>

    <!--<td><%#= rating_conf.col_lable %></td>-->
    <td><%= best_in_place rating_conf, :col_lable, :type => :input %></td>

    <!--<td><%#= rating_conf.col_validation %></td>-->
    <td><%= check_box_tag 'col_validation' %></td>

    <td><%= rating_conf.col_type %></td>
    <td><%= rating_conf.col_sequence %></td>
    <td><%= link_to 'Show', rating_conf %></td>
    <td><%= link_to 'Edit', edit_rating_conf_path(rating_conf) %></td>
    <td><%= link_to 'Destroy', rating_conf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rating conf', new_rating_conf_path %>

<!--<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>-->
<script src="/assets/best_in_place.js"></script>

<script>
    $(function(){
        $(':checkbox').css('opacity','1');

        /* Activating Best In Place */
        $(".best_in_place").best_in_place();
    })
</script>