<p id="notice"><%= notice %></p>

<p>
  <b>Col name:</b>
  <%= @rating_conf.col_name %>
</p>

<p>
  <b>Col lable:</b>
  <%#= @rating_conf.col_lable %>
  <%= best_in_place @rating_conf, :col_lable, :type => :input %>
</p>

<p>
  <b>Col validation:</b>
  <%= @rating_conf.col_validation %>
</p>

<p>
  <b>Col type:</b>
  <%= @rating_conf.col_type %>
</p>

<p>
  <b>Col col_sequence:</b>
  <%= @rating_conf.col_sequence %>
</p>


<%= link_to 'Edit', edit_rating_conf_path(@rating_conf) %> |
<%= link_to 'Back', rating_confs_path %>

<script src="/assets/best_in_place.js"></script>

<script>
    $(document).ready(function() {
        /* Activating Best In Place */
        $(".best_in_place").best_in_place()
    });
</script>
