<div class="row-fluid">
  <div class="span4">
    <%= link_to 'New Planning Manpower', new_planning_manpower_path, :class => "btn btn-info" %>
  </div>
</div>

<br>

<div class="row-fluid">
  <div class="span12">
    <div class="table-header">Listing Planning Manpowers</div>
  </div>
</div>


<table id="planning_manpowers_table" class="table table-striped table-bordered table-hover">
  <thead>
      <tr>
        <th>Group</th>
        <th>Band</th>
        <th>Position</th>
        <th>Nature of Position </th>
        <!--<th>Fulfillment Source</th>-->
        <!--<th>Location</th>-->
        <th>Supervisor</th>
        <!--<th>Comments</th>-->
        <th></th>
        <th></th>
        <th></th>
      </tr>
  </thead>

  <tbody>
    <% @planning_manpowers.each do |planning_manpower| %>
      <tr>
        <td>
          <%#= planning_manpower.group %>
          <%= GroupMaster.find(planning_manpower.group).group_name %>
        </td>
        <td><%= planning_manpower.band %></td>
        <td><%= planning_manpower.position %></td>
        <td><%= planning_manpower.position_nature %></td>
        <!--<td><%#= planning_manpower.ff_source %></td>-->
        <!--<td><%#= planning_manpower.location %></td>-->
        <td>
          <%#= planning_manpower.supervisor %>
          <%= EmployeeMaster.find(planning_manpower.supervisor).employee_name %>
        </td>
        <!--<td><%#= planning_manpower.comments %></td>-->
        <td><%= link_to 'Show', planning_manpower %></td>
        <td><%= link_to 'Edit', edit_planning_manpower_path(planning_manpower) %></td>
        <td><%= link_to 'Destroy', planning_manpower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.dataTables.zbootstrap" %>
<%= javascript_include_tag "custom_dataTable" %>

<script>
    $(function(){
        apply_dataTable('#planning_manpowers_table', '#planning_manpowers_table_wrapper','#planning_manpowers_table_length', '#planning_manpowers_table_filter');
    });
</script>
