<h1>Listing left_panels</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @left_panels.each do |left_panel| %>
  <tr>
    <td><%= left_panel.name %></td>
    <td><%= link_to 'Show', left_panel %></td>
    <td><%= link_to 'Edit', edit_left_panel_path(left_panel) %></td>
    <td><%= link_to 'Destroy', left_panel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Left panel', new_left_panel_path %>
