<%= nested_form_for(@client1) do |f| %>
  <% if @client1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client1.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <div class="control-group">
        <%= f.label :name,:class => "control-label" %><br />
        <%= f.text_field :name %>
      </div>
      <div class="control-group">
        <%= f.label :address,:class => "control-label" %><br />
        <%= f.text_area(:address, size:"40x3") %>
      </div>

      <div class="control-group">
        <%= f.label :email,:class => "control-label" %><br />
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="span6">
      <div class="control-group">
        <h3>Admin User</h3>
        <%= f.fields_for :admin_users do |au| %>
            <div class="control-group">
              <%= au.label :email,:class => "control-label" %>
              <div class="controls">
                <%= au.text_field :email %>
              </div>
            </div>

            <div class="control-group">
              <%= au.label :password,:class => "control-label" %>
              <div class="controls">
                <%= au.password_field :password %>
              </div>
            </div>

            <div class="control-group">
              <%= au.label :password_confirmation,:class => "control-label" %>
              <div class="controls">
                <%= au.password_field :password_confirmation %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= au.link_to_remove "Remove" %>
              </div>
            </div>

        <% end %>
        <%= f.link_to_add "Add New Admin", :admin_users %></p>
      </div>
    </div>



  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
