<h1>Listing Group Company</h1>

<div class="row-fluid">
  <div class="offset1 span8">
    <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @clients.each do |client| %>
              <tr>
                <td><%= client.name %></td>
                <td><%= client.address %></td>
                <td><%= link_to 'Show', client %></td>
                <td><%= link_to 'Edit', edit_client_path(client) %></td>
                <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>


<br />

<%= link_to 'New Client', new_client_path %>
