<div class="row-fluid">
  <div class="offset4 span4">
    <h1>Report</h1>
  </div>
</div>
<hr>

<div class="row-fluid">
  <div class="span6">
    <h3>Report Date :- <%= @first_dreport.report_date rescue "" %></h3>
  </div>
  <div class="span6">
    <h3>Reviewed By :- <%= @first_dreport.reviewed_by rescue "" %></h3>
  </div>
</div>
<hr>

<div class="row-fluid">
  <div class="span12">
    <% @d_reports.each_with_index do |d_report, index| %>
        <div class="table-header"><%= d_report.cl_name %></div>
        <table id="<%= d_report.cl_name + "_table_"+ (index).to_s rescue "55"%>" class="dataTable table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <% d_report.cl_fields.each_with_index do |cf, index| %>
                <th><%= cf %></th>
            <% end %>
          </tr>
          </thead>

          <tbody>
            <% d_report.object_hash.each_with_index do |oh, index| %>
              <tr>
                <% oh.each_with_index do |h, index| %>
                    <td><%= h %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br><br>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.dataTables.bootstrap" %>


<script>
    $(function(){
        $('.dataTable').dataTable();
    });
</script>
