<div class="row-fluid">
  <div class="offset3 span6">
    <h1>Report: <%= @d_report.cl_name %></h1>
  </div>
</div>
<hr>



<div class="row-fluid">
  <div class="span12">

        <div class="table-header"><%=  @d_report.cl_name %></div>

        <% @main_array.each do |ma| %>
            <% @final_array = ma %>
            <table id="report_table" summary="Code page support in different versions of MS Windows." rules="groups" frame="hsides" class="table table-striped table-bordered table-hover">
          <!--<caption>CODE-PAGE SUPPORT IN MICROSOFT WINDOWS</caption>-->
          <colgroup align="center"></colgroup>
          <colgroup align="left"></colgroup>
          <colgroup span="2" align="center"></colgroup>
          <colgroup span="3" align="center"></colgroup>
          <thead valign="top">
          <tr>
            <% (@fields + @assarr).each do |i| %>
                <th><%= i %></th>
            <% end %>
          </tr>
          </thead>
          <tbody id="dis_tab">
          <% @final_array.each do |trow| %>
              <%= trow["kras"] %>
              <tr>
                <% (@fields + @assarr).each do |tcol| %>
                    <td>
                      <% trow["kras"] %>
                      <%= trow[tcol] %>
                    </td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>
        <% end %>
    <br><br>

  </div>
</div>

<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.dataTables.zbootstrap" %>


<script>
    $(function(){
        jQuery.fn.dataTable.Api.register( 'average()', function () {
            var i=0;
            var sum = this.flatten().reduce( function ( a, b ) {
                i++;
                return (a*1) + (b*1); // cast values in-case they are strings
            } );

            return sum / i;
        } );

        jQuery.fn.dataTable.Api.register( 'sum()', function () {

            var sum = this.flatten().reduce( function ( a, b ) {

                return (a*1) + (b*1); // cast values in-case they are strings
            } );

            return sum ;
        } );


        setTimeout(function(){

            x = $("#<%= @d_report.cl_name + "_table_"+ (0).to_s%>").DataTable().columns()[0].length
            var i = 0;
            for(i=0;i<x;i++)
            {
                existing_text =  $("#"+i).text();

                sum = parseInt($("#<%= @d_report.cl_name%>_table_0").DataTable().column(i).data().sum())
                avg = parseInt($("#<%= @d_report.cl_name%>_table_0").DataTable().column(i).data().average())
                $("#"+i).text( existing_text + "( "+sum +" , "+ avg+" )" );
            }},2000)


        $('.dataTable').dataTable();
    });
</script>
