<div class="row-fluid">
  <%= form_for(@manpower_planning,html: {class: "form-horizontal"}) do |f| %>
      <% if @manpower_planning.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@manpower_planning.errors.count, "error") %> prohibited this manpower_planning from being saved:</h2>

            <ul>
              <% @manpower_planning.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="control-group">
        <%= f.label :mp_code %>
        <div class="controls">
          <%= f.text_field :mp_code %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :period_from %>
        <div class="controls">
          <%= f.date_select :period_from %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :period_to %>
        <div class="controls">
          <%= f.date_select :period_to %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :requested_by %>
        <div class="controls">
          <%= f.text_field :requested_by %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :final_approved_number %><br />
        <div class="controls">
          <%= f.text_field :final_approved_number %>
        </div>
      </div>

      <% @fields = DynamicField.where(:oclass=>"ManpowerPlanning") %>
      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym,:class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym )%>
            </div>
          </div>
      <% end %>


      <div class="form-actions">
        <%= f.submit :class=>"btn btn-info" %>
      </div>
  <% end %>

</div>


