<div class="row-fluid">
  <div class="span4">
    <%= link_to 'New Manpower Planning', new_manpower_planning_path, :class=>"btn btn-info" %>
  </div>
</div>

<br>

<div class="row-fluid">
  <div class="span12">
    <div class="table-header">Listing Manpower Plannings</div>
    <table id="manpower_planning_table" class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th>Mp Code</th>
            <th>Period From</th>
            <th>Period To</th>
            <th>Requested By</th>
            <th>Final Approved Number</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @manpower_plannings.each do |manpower_planning| %>
              <tr>
                <td><%= manpower_planning.mp_code %></td>
                <td><%= l(manpower_planning.period_from, :format => :default) if manpower_planning.period_from %></td>
                <td><%= l(manpower_planning.period_to, :format => :default) if manpower_planning.period_to %></td>
                <td><%= manpower_planning.requested_by %></td>
                <td><%= manpower_planning.final_approved_number %></td>
                <td><%= link_to 'Show', manpower_planning %></td>
                <td><%= link_to 'Edit', edit_manpower_planning_path(manpower_planning) %></td>
                <td><%= link_to 'Destroy', manpower_planning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery.dataTables.zbootstrap" %>
<%= javascript_include_tag "custom_dataTable" %>


<script>
  $(function(){
      apply_dataTable('#manpower_planning_table', '#manpower_planning_table_wrapper','#manpower_planning_table_length', '#manpower_planning_table_filter');
  });
</script>