

<div class="row-fluid">

    <%= nested_form_for(@rating,html: {class: "form-horizontal"}) do |f| %>
        <% if @rating.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

              <ul>
                <% @rating.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <% RatingConf.all.each  do |rc| %>
            <% case rc.type %>
                <% when "single"  %>
                    <div class="control-group">
                      <label for="<%= rc.col_lable.to_s %>" class="control-label"><%= rc.col_lable.to_s %></label>
                      <div class="controls">
                        <%= f.text_field rc.col_name.to_sym %>
                      </div>
                    </div>
            <% end %>
        <% end %>
      <!--<hr>-->

      <!--<%#= f.fields_for :score_receiveds do |score_receiveds| %>-->
          <!--<div class="control-group">-->
            <!--<%#= score_receiveds.label :score,:class => "control-label" %>-->
            <!--<div class="controls">-->
              <!--<%#= score_receiveds.text_field :score %>-->
              <!--<%#= score_receiveds.link_to_remove "Remove this task" %>-->
            <!--</div>-->
          <!--</div>-->
      <!--<%# end %>-->
      <!--<%#= f.link_to_add "Score Receiveds", :score_receiveds %>-->
      <!--<hr>-->

          <!--<%# @fields = DynamicField.where(:oclass=>"Rating") %>-->
            <!--<h3 class="header lighter blue">Dynamic Field</h3>-->
          <!--<%# @fields.each do |field| %>-->
          <!--<div class="control-group">-->
              <!--<%#= f.label field.name.to_sym,:class => "control-label" %>-->
              <!--<div class="controls">-->
                <!--<%#= f.send(field.type.to_sym, field.name.to_sym )%>-->
              <!--</div>-->
          <!--</div>-->
          <!--<%# end %>-->


        <div class="form-actions">
            <%= f.submit :class=>"btn btn-info" %>
        </div>

    <% end %>
</div>


