<div class="row-fluid">

  <%#= nested_form_for(@rating, html: {class: "form-horizontal"}) do |f| %>
  <%= nested_form_for(@rating, :url => (@new ? generic_create_path(@rating.class) : generic_update_path(@rating.class,@rating.id)), html: {class: "form-horizontal"}) do |f| %>
      <% if @rating.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

            <ul>
              <% @rating.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <label for="Candidate" class="control-label">Candidate</label>

            <div class="controls">
              <%= f.select :candidate_master_id, options_from_collection_for_select(CandidateMaster.all, :id, :candidate_name) %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%= f.label :comments, :class => "control-label" %>
            <div class="controls">
              <%= f.text_area :comments, :size => "(18x5)" %>
            </div>
          </div>
        </div>
      </div>


      <%= f.fields_for :score_receiveds do |score_receiveds| %>
          <div class="score-rate">
            <%= render 'ratings/score', :f => score_receiveds %>
          </div>
          <br>
          <%= score_receiveds.link_to_remove "Remove this record" %>
      <% end %>
      <%#= f.link_to_add "Add New Records", :score_receiveds %>

      <% if !params[:process_id].nil? %>
          <%= hidden_field_tag :process_id, params[:process_id] %>
          <%= hidden_field_tag :seq, params[:seq] %>
      <% end %>

      <div class="form-actions">
        <%= f.submit :class => "btn btn-info" %>
      </div>

  <% end %>
</div>

</div>

<script>
    $(function(){
        $('.range').css('width', '20%');
    });

    function change_data(this_obj){
        //alert(this_obj);
       $(this_obj).parents('.score-rate').find('.my_div').empty();
    }
</script>


