<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="offset1 span6">
    <div class="table-header">
      Rating Details :-
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Comments</th>
            <td><%= @rating.comments %></td>
          </tr>
          <tr>
            <th>Candidate</th>
            <td><%= @rating.candidate_master.candidate_name  rescue ""%></td>
          </tr>
          <tr>
            <th>Score Received:</th>
            <td></td>
          </tr>
          <%# @rating.score_receiveds.each do |i| %>
          <tr>
            <%#= i.sr_name %>
          </tr>
            <%# end %>
      </tbody>
    </table>
  </div>
</div>



<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
