<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="offset1 span6">
    <div class="table-header">
      Rating Details :-
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Comments</th>
            <td><%= @rating.comments %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<% @fields = DynamicField.where(:oclass => "Rating") %>
<% @fields.each do |fi| %>
    <p>
      <b><%= fi.name %></b>
      <%= eval("@rating.#{fi.name}") %>
    </p>
<% end %>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
