<% if access_name == "User Management" %>
    <li>
      <%= render_cell :left_menu, :user_mgmt, :employee_masters_path => employee_masters_path, :candidate_masters_path => candidate_masters_path, :roles_path => roles_path %>
    </li>
<% end %>

<% @left_panel = LeftPanel.find(access_name) %>
<li>
  <a href="#" class="dropdown-toggle">
    <i class="icon-dashboard"></i>
    <span><%= @left_panel.label_processs_name %></span>
    <b class="arrow icon-angle-down"></b>
  </a>
  <ul class="submenu">
    <% if !(@left_panel.process_obj - [""]).blank? %>
            <% (@left_panel.process_obj - [""]).each do |i| %>
                <li><%= link_to @left_panel.label_process_obj+" "+MasterPro.find(i).name, "/process_transacts/new/"+i %></li>
            <% end %>
    <% end %>

    <% if !(@left_panel.report_obj - [""]).blank? %>
        <% (@left_panel.report_obj - [""]).each do |i| %>
            <li><%= link_to @left_panel.label_report_obj+" "+DReport.find(i).report_name, "/d_reports/"+i %></li>
        <% end %>
    <% end %>

    <% if !(@left_panel.doc_obj - [""]).blank? %>
          <% (@left_panel.doc_obj - [""]).each do |i| %>
              <li><%= link_to @left_panel.label_doc_obj+" "+DocumentMaster.find(i).name, "/document_masters/"+i %></li>
          <% end %>
    <% end %>
  </ul>
</li>