<style>
    .margin-top-2per{
        margin-top: 2%;
    }
    #company_logo{
        width: 50%;
    }

    /*#pdf_logo{*/
        /*width: 20%;*/
    /*}*/
</style>
<%= wicked_pdf_stylesheet_link_tag 'application' %>
<%= wicked_pdf_javascript_include_tag 'application' %>
<%#= wicked_pdf_javascript_include_tag "grid.locale-en.js" %>
<%#= wicked_pdf_javascript_include_tag "jquery.jqGrid.min.js" %>
<%#= wicked_pdf_javascript_include_tag "pdf_test" %>
<div class="row">
  <div class="span12">


        <div class="row">
          <div class="span3">
            <%#= image_tag "codeHR2.jpg", :id=>"company_logo" %>
            <%= wicked_pdf_image_tag 'codeHR2.jpg', :id=>"pdf_logo" %>
            <%= wicked_pdf_javascript_include_tag "pdf_test.js" %>
          </div>
          <div class="span2 offset5">
            Date :- <%= Date.today.strftime("%d %B %Y") %>
          </div>
        </div>

        <div class="row margin-top-2per">
          <div class="span6">
            <p style="display: inline-block">Dear </p>
            <%= @emp_master_name %>,
          </div>
        </div>

        <div class="row">
          <div class="offset1 span11">
            <%= raw @message %>
          </div>
        </div>

        <div class="row">
          <div class="offset8 span2">
            Regards,
            Sunny
          </div>
        </div>

        <div class="row">
          <table id="goals_list"></table>
          <div id="goals_pager"></div>
        </div>



  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="table-header">Here is you evaluation sheet.</div>
    <table id="group_master_table" class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <!--<th>KRA Code</th>-->
        <th>KRA Name</th>
      </tr>
      </thead>

      <tbody>
      <% Goal.last.kras.each do |group_master| %>
          <tr>
            <!--<td><%#= group_master.id %></td>-->
            <td><%= group_master.kra_name %></td>
          </tr>
          <tr>
            <th>KRA </th>
            <th>MOA Expected</th>
            <th>MOA Achieved</th>
            <th>%</th>
            <th>Feedback</th>
            <th>Calc Rating</th>
            <th>Self Rating</th>
            <th>Mgr. Rating</th>
            <th>Final Rating</th>
          </tr>
          <% group_master.subkras.each do |j| %>
          <tr>
              <td><%= j.kra_name %></td>
              <td><%= j.kpi_value %></td>
              <td><%= PmsAssessment.where(:employee_id => current_user.employee_master.id,:kra_id => j.id).first.moae %></td>
              <td><%= j.weightage %></td>
              <td><%= PmsAssessment.where(:employee_id => current_user.employee_master.id,:kra_id => j.id).first.feedback %></td>
              <td><%= PmsAssessment.where(:employee_id => current_user.employee_master.id,:kra_id => j.id).first.cr %></td>
              <td><%= PmsAssessment.where(:employee_id => current_user.employee_master.id,:kra_id => j.id).first.sr %></td>
              <td><%= PmsAssessment.where(:employee_id => current_user.employee_master.id,:kra_id => j.id).first.mr %></td>
              <td><%= PmsAssessment.where(:employee_id => current_user.employee_master.id,:kra_id => j.id).first.fr %></td>
          </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
