<style>
  .margin-top-2per{
      margin-top: 2%;
  }
  #company_logo{
      width: 50%;
  }
</style>

<div class="row">
  <div class="span11">

    <%= form_tag('/generate_pdf_report', multipart: true) do %>
        <div class="row">
          <div class="span3">
            <%= image_tag "codeHR2.jpg", :id=>"company_logo" %>
          </div>
          <div class="span2 offset5">
            Date :- <%= Date.today.strftime("%d %B %Y") %>
          </div>
        </div>

        <div class="row margin-top-2per">
          <div class="span6">
            <p style="display: inline-block">Dear, &nbsp;</p>
            <%= select_tag "employee_master", options_from_collection_for_select(EmployeeMaster.all, 'id', 'employee_name',params[:employee_master_id]), {:class =>"chzn-select", :multiple=>false} %>
          </div>
        </div>

        <div class="row">
          <div class="offset1 span8">
            <%= text_area_tag "message", nil, rows: 5, cols: 25, :style=>"width: 100%;" %>
          </div>
        </div>

        <div class="row">
          <div class="offset8 span2">
            Regards
          </div>
        </div>

        <div class="row margin-top-2per">
          <div class="offset8 span2">
            <%= submit_tag "Print", :class=>"btn btn-info" %>
          </div>
        </div>

    <% end %>

  </div>
</div>

<script type="text/javascript" src="/assets/chosen.jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function(){

        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({allow_single_deselect:true});
    });
</script>
es
