<div class="row-fluid">
    <div class="span3">
      <div class="table-header">Groups</div>
      <table id="group_master_table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Avg. Rating</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
    <% GroupMaster.all.each do |group_master| %>
        <tr>
        <td style="cursor: pointer" class="gm" id = "<%= group_master.id %>" onclick="load_data($(this))"><%= group_master.group_name %></td>
        <% a = group_master.employee_masters.all.map{|i| i.final_rating(Goal.last.id).floor} %>
        <td><%= a.instance_eval{(reduce(:+)/size.to_f rescue "")}.round rescue ""%></td>
        <td><a href="/pms_normalization_grp_wise/<%= group_master.id %>" target="_blank"><i class="icon-arrow-right"></i></a></td>
        </tr>
    <% end %>
  </tbody>
  </table>
  </div>
    <div class="span3">
      <div class="table-header">Employee</div>
      <table id="employee_master_table" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% GroupMaster.first.employee_masters.each do |group_master| %>
            <tr>
              <td style="cursor: pointer"><a href="/manager_assessment/<%= group_master.id %>" target = "_blank"><%= group_master.employee_name %></a></td>
              <td><a href="/get_report_of/<%= group_master.id %>"><i class="icon-list-alt"></i></a></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="span6">
      <%= high_chart("my_combine_div", @chart) %>
    </div>
</div>

<script>
  function load_data(this_obj){
      var data = {group_master_id: []}
      data["group_master_id"].push($(this_obj).attr('id'));
      $.ajax({
          type: "POST",
          url: "/send_employee_data",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8",
          success: function (result) {
              $('#employee_master_table').find('tbody').empty();
              $.each(result,function(i,v){
                  $('#employee_master_table').find('tbody').append('<tr><td style="cursor: pointer"><a href="/manager_assessment/'+ v.id+'" target = "_blank">'+ v.name+'</a></td><td><a href="/get_report_of/'+ v.id+'"><i class="icon-list-alt"></i></a></td></tr>')
              });
          }
      });
  }
</script>

