
<div class="row-fluid">
  <%= form_for(@candidate_master,html: {class: "form-horizontal"}) do |f| %>
      <% if @candidate_master.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@candidate_master.errors.count, "error") %> prohibited this candidate_master from being saved:</h2>

            <ul>
              <% @candidate_master.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="control-group">
        <%= f.label :candidate_code,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :candidate_code %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :candidate_name,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :candidate_name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :candidate_middle_name,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :candidate_middle_name %>
        </div>
      </div>


      <div class="control-group">
        <%= f.label :status,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :status %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :gender,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :gender %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :marital_status,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :marital_status %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :date_of_birth ,:class => "control-label"%>
        <div class="controls">
          <%= f.date_select :date_of_birth %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :total_work_exp_years,:class => "control-label" %>
        <div class="controls">
          <%= f.number_field :total_work_exp_years %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :total_work_exp_months,:class => "control-label" %>
        <div class="controls">
          <%= f.number_field :total_work_exp_months %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :official_email,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :official_email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :personal_email,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :personal_email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :bank_name,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :bank_name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :account_number,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :account_number %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :pf_no,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :pf_no %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :esic_no,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :esic_no %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :pan_no,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :pan_no %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :current_location,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :current_location %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :salary_expectation_fixed,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :salary_expectation_fixed %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :salary_expectation_variable,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :salary_expectation_variable %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :notice_period,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :notice_period %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :notice_period_buyback?,:class => "control-label" %>
        <div class="controls">
          <%= f.check_box :notice_period_buyback? %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :notice_period_buyback_amount,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :notice_period_buyback_amount %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :remarks_1 ,:class => "control-label"%>
        <div class="controls">
          <%= f.text_area :remarks_1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :remarks_2,:class => "control-label" %>
        <div class="controls">
          <%= f.text_area :remarks_2 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :remarks_3,:class => "control-label" %>
        <div class="controls">
          <%= f.text_area :remarks_3 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :remarks_4,:class => "control-label" %>
        <div class="controls">
          <%= f.text_area :remarks_4 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :remarks_5,:class => "control-label" %>
        <div class="controls">
          <%= f.text_area :remarks_5 %>
        </div>
      </div>


      <% @fields = DynamicField.where(:oclass=>"CandidateMaster") %>
      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym,:class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym )%>
            </div>
          </div>
      <% end %>


      <div class="form-actions">
        <%= f.submit :class=>"btn btn-info" %>
      </div>
  <% end %>
</div>


