<script>
  $(function(){
     $('.control-label').css('text-align','left');
  })
</script>

<div class="row-fluid">
<%= nested_form_for(@candidate_master, html: {class: "form-horizontal"}) do |f| %>
    <% if @candidate_master.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidate_master.errors.count, "error") %> prohibited this candidate_master from being
            saved:</h2>

          <ul>
            <% @candidate_master.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Candidate<b class="caret"></b></a>
        <ul class="dropdown-menu dropdown-info">
          <li><a data-toggle="tab" href="#dropdown1">Personal</a></li>
          <li><a data-toggle="tab" href="#dropdown2">Bank Details</a></li>
          <li><a data-toggle="tab" href="#dropdown3">Remarks</a></li>
          <li><a data-toggle="tab" href="#dropdown4">Employee CV</a></li>
        </ul>
      </li>
      <li><a data-toggle="tab" href="#cand_educations">Educations</a></li>
      <li><a data-toggle="tab" href="#candidate_contact_numbers">Contact No</a></li>
      <li><a data-toggle="tab" href="#candidate_employment_histories">Employment History</a></li>
      <li><a data-toggle="tab" href="#communication_addresses">Communication Address</a></li>
      <li><a data-toggle="tab" href="#candidate_family_details">Family Details</a></li>
      <li><a data-toggle="tab" href="#job_preferences">Job Preferences</a></li>
      <li><a data-toggle="tab" href="#location_preferences">Location Prefer</a></li>
      <li><a data-toggle="tab" href="#dynamic_field">Dynamic Field</a></li>

    </ul>
    <div class="tab-content">

    <div id="dropdown1" class="tab-pane in active">
      <p>


      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :candidate_code) %>
            <label for="<%= @form[:candidate_code].to_s %>" class="control-label"><%= @form[:candidate_code].to_s %></label>
            <div class="controls">
              <%= f.text_field :candidate_code %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :candidate_name) %>
            <label for="<%= @form[:candidate_name].to_s %>" class="control-label"><%= @form[:candidate_name].to_s %></label>
            <div class="controls">
              <%= f.text_field :candidate_name %>
            </div>
          </div>
        </div>
      </div>


      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :candidate_middle_name, :class => "control-label" %>
            <label for="<%= @form[:candidate_middle_name].to_s %>" class="control-label"><%= @form[:candidate_middle_name].to_s %></label>
            <div class="controls">
              <%= f.text_field :candidate_middle_name %>
            </div>
          </div>
        </div>

        <div class="span6">
          <div class="control-group">
            <%#= f.label :gender, :class => "control-label" %>
            <label for="<%= @form[:gender].to_s %>" class="control-label"><%= @form[:gender].to_s %></label>
            <div class="controls">
              <%= f.select(:gender, [['Male', 'M'], ['Female', 'F'], ['Other', 'O']]) %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :status,:class => "control-label" %>
            <label for="<%= @form[:status].to_s %>" class="control-label"><%= @form[:status].to_s %></label>
            <div class="controls">
              <%= f.select :status, ['Selected', 'Rejected', 'Interviewed', 'Blocked'] %>
            </div>
          </div>
        </div>
      </div>






      <div class="control-group">
        <%#= raw custom_lable(@candidate_master, :marital_status) %>
        <label for="<%= @form[:marital_status].to_s %>" class="control-label"><%= @form[:marital_status].to_s %></label>
        <div class="controls">
          <%#= f.text_field :marital_status %>
          <%= f.select(:marital_status, [['Married'], ['Unmarried'], ['Separated'], ['In Relationship']]) %>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :date_of_birth) %>
            <label for="<%= @form[:date_of_birth].to_s %>" class="control-label"><%= @form[:date_of_birth].to_s %></label>
            <div class="controls">
              <%#= f.date_select :date_of_birth %>
              <div class="row-fluid input-append date">
                <%= f.text_field :date_of_birth, :class=>"span6 date-picker" %>
                <span class="add-on"><i class="icon-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :total_work_exp_years) %>
            <label for="<%= @form[:total_work_exp_years].to_s %>" class="control-label"><%= @form[:total_work_exp_years].to_s %></label>
            <div class="controls">
              <%= f.number_field(:total_work_exp_years, :onkeypress=>"return isNumberKey(event)") %>
            </div>
          </div>
        </div>

        <div class="span6">
          <div class="control-group">
            <%#= f.label :total_work_exp_months, :class => "control-label" %>
            <%#= raw custom_lable(@candidate_master, :total_work_exp_months) %>
            <label for="<%= @form[:total_work_exp_months].to_s %>" class="control-label"><%= @form[:total_work_exp_months].to_s %></label>
            <div class="controls">
              <%= f.number_field(:total_work_exp_months, :onkeypress=>"return isNumberKey(event)") %>
            </div>
          </div>

        </div>
      </div>
      </p>
    </div>

    <div id="dropdown2" class="tab-pane">
      <!--<p>-->

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :official_email) %>
            <label for="<%= @form[:official_email].to_s %>" class="control-label"><%= @form[:official_email].to_s %></label>
            <div class="controls">
              <%= f.text_field :official_email %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :personal_email) %>
            <label for="<%= @form[:personal_email].to_s %>" class="control-label"><%= @form[:personal_email].to_s %></label>
            <div class="controls">
              <%= f.text_field :personal_email %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :bank_name) %>
            <label for="<%= @form[:bank_name].to_s %>" class="control-label"><%= @form[:bank_name].to_s %></label>
            <div class="controls">
              <%= f.text_field :bank_name %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :account_number, :class => "control-label" %>
            <label for="<%= @form[:account_number].to_s %>" class="control-label"><%= @form[:account_number].to_s %></label>
            <div class="controls">
              <%= f.text_field :account_number %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :pf_no, :class => "control-label" %>
            <label for="<%= @form[:pf_no].to_s %>" class="control-label"><%= @form[:pf_no].to_s %></label>
            <div class="controls">
              <%= f.text_field :pf_no %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :esic_no, :class => "control-label" %>
            <label for="<%= @form[:esic_no].to_s %>" class="control-label"><%= @form[:esic_no].to_s %></label>
            <div class="controls">
              <%= f.text_field :esic_no %>
            </div>
          </div>
        </div>
      </div>


      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :pan_no, :class => "control-label" %>
            <label for="<%= @form[:pan_no].to_s %>" class="control-label"><%= @form[:pan_no].to_s %></label>
            <div class="controls">
              <%= f.text_field :pan_no %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :current_location) %>
            <label for="<%= @form[:current_location].to_s %>" class="control-label"><%= @form[:current_location].to_s %></label>
            <div class="controls">
              <%= f.text_field :current_location %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :salary_expectation_fixed) %>
            <label for="<%= @form[:salary_expectation_fixed].to_s %>" class="control-label"><%= @form[:salary_expectation_fixed].to_s %></label>
            <div class="controls">
              <%= f.text_field :salary_expectation_fixed %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@candidate_master, :salary_expectation_variable) %>
            <label for="<%= @form[:salary_expectation_variable].to_s %>" class="control-label"><%= @form[:salary_expectation_variable].to_s %></label>
            <div class="controls">
              <%= f.text_field :salary_expectation_variable %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <div class="control-group">
            <%#= f.label :notice_period, :class => "control-label" %>
            <%#= raw custom_lable(@candidate_master, :notice_period) %>
            <label for="<%= @form[:notice_period].to_s %>" class="control-label"><%= @form[:notice_period].to_s %></label>
            <div class="controls">
              <%= f.text_field :notice_period %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :notice_period_buyback?, :class => "control-label" %>
            <%#= raw custom_lable(@candidate_master, :notice_period_buyback?) %>
            <label for="<%= @form[:notice_period_buyback?].to_s %>" class="control-label"><%= @form[:notice_period_buyback?].to_s %></label>
            <div class="controls">
              <%= f.check_box :notice_period_buyback? %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :notice_period_buyback_amount, :class => "control-label" %>
            <label for="<%= @form[:notice_period_buyback_amount].to_s %>" class="control-label"><%= @form[:notice_period_buyback_amount].to_s %></label>
            <div class="controls">
              <%= f.text_field :notice_period_buyback_amount %>
            </div>
          </div>
        </div>
      </div>

      <!--</p>-->
    </div>

    <div id="dropdown3" class="tab-pane">
      <!--<p>-->

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :remarks_1, :class => "control-label" %>
            <label for="<%= @form[:remarks_1].to_s %>" class="control-label"><%= @form[:remarks_1].to_s %></label>
            <div class="controls">
              <%= f.text_area(:remarks_1, size:"40x3") %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :remarks_2, :class => "control-label" %>
            <label for="<%= @form[:remarks_2].to_s %>" class="control-label"><%= @form[:remarks_2].to_s %></label>
            <div class="controls">
              <%= f.text_area(:remarks_2, size:"40x3") %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :remarks_3, :class => "control-label" %>
            <label for="<%= @form[:remarks_3].to_s %>" class="control-label"><%= @form[:remarks_3].to_s %></label>
            <div class="controls">
              <%= f.text_area(:remarks_3, size:"40x3") %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :remarks_4, :class => "control-label" %>
            <label for="<%= @form[:remarks_4].to_s %>" class="control-label"><%= @form[:remarks_4].to_s %></label>
            <div class="controls">
              <%= f.text_area(:remarks_4, size:"40x3") %>
            </div>
          </div>
        </div>
      </div>


      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :remarks_5, :class => "control-label" %>
            <label for="<%= @form[:remarks_5].to_s %>" class="control-label"><%= @form[:remarks_5].to_s %></label>
            <div class="controls">
              <%= f.text_area(:remarks_5, size:"40x3") %>
            </div>
          </div>
        </div>
      </div>
      <!--</p>-->
    </div>

    <div id="dropdown4" class="tab-pane">
      <p>

      <div class="control-group">
        <%#= f.label :employee_cv, :class => "control-label" %>
        <label for="<%= @form[:employee_cv].to_s %>" class="control-label"><%= @form[:employee_cv].to_s %></label>
        <div class="controls">
          <%= f.file_field :employee_cv %>
        </div>
      </div>
      </p>
    </div>


    <div id="cand_educations" class="tab-pane">
      <p>
        <%= f.fields_for :cand_educations do |cand_educations| %>

          <div class="control-group">
            <%#= cand_educations.label :name, :class => "control-label" %>
            <label for="<%= @form[:name].to_s %>" class="control-label"><%= @form[:name].to_s %></label>
            <div class="controls">
              <%= cand_educations.text_field :name %>
            </div>
          </div>

          <div class="control-group">
            <%#= cand_educations.label :description, :class => "control-label" %>
            <label for="<%= @form[:description].to_s %>" class="control-label"><%= @form[:description].to_s %></label>
            <div class="controls">
              <%= cand_educations.text_field :description %>
            </div>
          </div>

          <div class="control-group">
            <%#= cand_educations.label :marks, :class => "control-label" %>
            <label for="<%= @form[:marks].to_s %>" class="control-label"><%= @form[:marks].to_s %></label>
            <div class="controls">
              <%= cand_educations.text_field :marks %>
            </div>
          </div>

          <div class="control-group">
            <%#= cand_educations.label :grade, :class => "control-label" %>
            <label for="<%= @form[:grade].to_s %>" class="control-label"><%= @form[:grade].to_s %></label>
            <div class="controls">
              <%= cand_educations.text_field :grade %>
            </div>
          </div>

        <div class="control-group">
          <div class="controls">
            <%= cand_educations.link_to_remove "Remove this task" %>
          </div>
        </div>
      <% end %>
      <%= f.link_to_add "Candidate Educations", :cand_educations %>
      </p>
    </div>

    <div id="candidate_contact_numbers" class="tab-pane">
      <p>
        <%= f.fields_for :candidate_contact_numbers do |candidate_contact_numbers| %>
          <div class="control-group">
            <%#= candidate_contact_numbers.label :home, :class => "control-label" %>
            <label for="<%= @form[:home].to_s %>" class="control-label"><%= @form[:home].to_s %></label>
            <div class="controls">
              <%= candidate_contact_numbers.text_field :home %>
            </div>
          </div>

          <div class="control-group">
            <%#= candidate_contact_numbers.label :mobile, :class => "control-label" %>
            <label for="<%= @form[:mobile].to_s %>" class="control-label"><%= @form[:mobile].to_s %></label>
            <div class="controls">
              <%= candidate_contact_numbers.text_field(:mobile, :onkeypress=>"return isNumberKey(event)", :maxlength=>"10") %>
            </div>
          </div>

          <div class="control-group">
            <%#= candidate_contact_numbers.label :office, :class => "control-label" %>
            <label for="<%= @form[:office].to_s %>" class="control-label"><%= @form[:office].to_s %></label>
            <div class="controls">
              <%= candidate_contact_numbers.text_field :office %>
            </div>
          </div>

         <div class="control-group">
           <div class="controls">
             <%= candidate_contact_numbers.link_to_remove "Remove this task" %>
           </div>
         </div>

      <% end %>
      <%= f.link_to_add "Candidate Contact Numbers", :candidate_contact_numbers %>
      </p>
    </div>

    <div id="candidate_employment_histories" class="tab-pane">
      <p>
        <%= f.fields_for :candidate_employment_histories do |candidate_employment_histories| %>
          <span class="row-fluid">
            <span class="span6">
                 <div class="control-group">
                   <%#= candidate_employment_histories.label :joined_from, :class => "control-label" %>
                   <label for="<%= @form[:joined_from].to_s %>" class="control-label"><%= @form[:joined_from].to_s %></label>
                   <div class="controls">
                     <%#= candidate_employment_histories.date_select :joined_from %>
                     <div class="row-fluid input-append date">
                       <%= candidate_employment_histories.text_field :joined_from, :class=>"span6 date-picker" %>
                       <span class="add-on"><i class="icon-calendar"></i></span>
                     </div>
                   </div>
                 </div>
            </span>
          </span>

          <span class="row-fluid">
            <span class="span6">
                 <div class="control-group">
                   <!--<lable class="control-label">Left</lable>-->
                   <label for="<%= @form[:leaved].to_s %>" class="control-label"><%= @form[:leaved].to_s %></label>
                   <div class="controls">
                     <%#= candidate_employment_histories.date_select :leaved %>
                     <div class="row-fluid input-append date">
                       <%= candidate_employment_histories.text_field :leaved, :class=>"span6 date-picker" %>
                       <span class="add-on"><i class="icon-calendar"></i></span>
                     </div>
                   </div>
                 </div>
            </span>
          </span>

          <div class="control-group">
            <%#= candidate_employment_histories.label :organisation, :class => "control-label" %>
            <label for="<%= @form[:organisation].to_s %>" class="control-label"><%= @form[:organisation].to_s %></label>
            <div class="controls">
              <%= candidate_employment_histories.text_field :organisation %>
            </div>
          </div>

          <div class="control-group">
            <%#= candidate_employment_histories.label :designation, :class => "control-label" %>
            <label for="<%= @form[:designation].to_s %>" class="control-label"><%= @form[:designation].to_s %></label>
            <div class="controls">
              <%= candidate_employment_histories.text_field :designation %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= candidate_employment_histories.link_to_remove "Remove this task" %>
            </div>
          </div>

      <% end %>
      <%= f.link_to_add "Candidate Employment Histories", :candidate_employment_histories %>
      </p>
    </div>

    <div id="communication_addresses" class="tab-pane">
      <p>
        <%= f.fields_for :communication_addresses do |communication_addresses| %>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :address1, :class => "control-label" %>
                <label for="<%= @form[:address1].to_s %>" class="control-label"><%= @form[:address1].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field :address1 %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :address2, :class => "control-label" %>
                <label for="<%= @form[:address2].to_s %>" class="control-label"><%= @form[:address2].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field :address2 %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :city, :class => "control-label" %>
                <label for="<%= @form[:city].to_s %>" class="control-label"><%= @form[:city].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field :city %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :taluka, :class => "control-label" %>
                <label for="<%= @form[:taluka].to_s %>" class="control-label"><%= @form[:taluka].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field :taluka %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :district, :class => "control-label" %>
                <label for="<%= @form[:district].to_s %>" class="control-label"><%= @form[:district].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field :district %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :state, :class => "control-label" %>
                <label for="<%= @form[:state].to_s %>" class="control-label"><%= @form[:state].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field :state %>
                </div>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :country, :class => "control-label" %>
                <label for="<%= @form[:country].to_s %>" class="control-label"><%= @form[:country].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field :country %>
                </div>
              </div>
            </div>
            <div class="span6">
              <div class="control-group">
                <%#= communication_addresses.label :zipcode, :class => "control-label" %>
                <label for="<%= @form[:zipcode].to_s %>" class="control-label"><%= @form[:zipcode].to_s %></label>
                <div class="controls">
                  <%= communication_addresses.text_field(:zipcode, :onkeypress=>"return isNumberKey(event)") %>
                </div>
              </div>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= communication_addresses.link_to_remove "Remove this task" %>
            </div>
          </div>

      <% end %>
      <%= f.link_to_add "Add New Candidate Address", :communication_addresses %>
      </p>
    </div>

    <div id="candidate_family_details" class="tab-pane">
      <p>
        <%= f.fields_for :candidate_family_details do |candidate_family_details| %>
          <div class="control-group">
            <%#= candidate_family_details.label :relaationship, :class => "control-label" %>
            <label for="<%= @form[:relaationship].to_s %>" class="control-label"><%= @form[:relaationship].to_s %></label>
            <div class="controls">
              <%= candidate_family_details.text_field :relaationship %>
            </div>
          </div>

          <div class="control-group">
            <%#= candidate_family_details.label :fname, :class => "control-label" %>
            <label for="<%= @form[:fname].to_s %>" class="control-label"><%= @form[:fname].to_s %></label>
            <div class="controls">
              <%= candidate_family_details.text_field :fname %>
            </div>
          </div>

          <div class="control-group">
            <%#= candidate_family_details.label :mname, :class => "control-label" %>
            <label for="<%= @form[:mname].to_s %>" class="control-label"><%= @form[:mname].to_s %></label>
            <div class="controls">
              <%= candidate_family_details.text_field :mname %>
            </div>
          </div>

          <div class="control-group">
            <%#= candidate_family_details.label :lname, :class => "control-label" %>
            <label for="<%= @form[:lname].to_s %>" class="control-label"><%= @form[:lname].to_s %></label>
            <div class="controls">
              <%= candidate_family_details.text_field :lname %>
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <%= candidate_family_details.link_to_remove "Remove this task" %>
            </div>
          </div>

      <% end %>
      <%= f.link_to_add "Candidate Family Details", :candidate_family_details %>
      </p>
    </div>

    <div id="job_preferences" class="tab-pane">
      <p>
        <%= f.fields_for :job_preferences do |job_preferences| %>
          <div class="control-group">
            <%#= job_preferences.label :vacancy_id, :class => "control-label" %>
            <label for="<%= @form[:vacancy_id].to_s %>" class="control-label"><%= @form[:vacancy_id].to_s %></label>
            <div class="controls">
              <%= job_preferences.text_field :vacancy_id %>
              <%= job_preferences.link_to_remove "Remove this task" %>
            </div>
          </div>

      <% end %>
      <%= f.link_to_add "Job Preferences", :job_preferences %>
      </p>
    </div>

    <div id="location_preferences" class="tab-pane">
      <p>
        <%= f.fields_for :location_preferences do |location_preferences| %>
          <div class="control-group">
            <%#= location_preferences.label :name, :class => "control-label" %>
            <label for="<%= @form[:loc_name].to_s %>" class="control-label"><%= @form[:loc_name].to_s %></label>
            <div class="controls">
              <%= location_preferences.text_field :name %>
              <%= location_preferences.link_to_remove "Remove this task" %>
            </div>
          </div>

      <% end %>
      <%= f.link_to_add "Location Preferences", :location_preferences %>
      </p>
    </div>

    <div id="dynamic_field" class="tab-pane">
      <p>
        <% @fields = DynamicField.where(:oclass => "CandidateMaster") %>

      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym, :class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym) %>
            </div>
          </div>
      <% end %>



      </p>
    </div>
    </div>
    </div>
    <div class="form-actions">
      <%#= f.submit :class => "btn btn-info" %>
      <%= f.submit @form_config[:submit] %>
    </div>

<% end %>
</div>

<!--<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
<script src="/assets/bootstrap-datepicker.min.js"></script>

<script>
    $(function(){
        $('.date-picker').datepicker();

        $('body').on('click', function(){
            $('.date-picker').show();
        });

        $(":checkbox").css('opacity','1');
    });
    function add_dp(){
        $('.date-picker').datepicker();
    }

    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>




