<h1>Listing candidate_masters</h1>

<table>
  <tr>
    <th>Candidate code</th>
    <th>Candidate name</th>
    <th>Candidate middle name</th>
    <th>Status</th>
    <th>Gender</th>
    <th>Marital status</th>
    <th>Date of birth</th>
    <th>Total work exp years</th>
    <th>Total work exp months</th>
    <th>Official email</th>
    <th>Personal email</th>
    <th>Bank name</th>
    <th>Account number</th>
    <th>Pf no</th>
    <th>Esic no</th>
    <th>Pan no</th>
    <th>Current location</th>
    <th>Salary expectation fixed</th>
    <th>Salary expectation variable</th>
    <th>Notice period</th>
    <th>Notice period buyback?</th>
    <th>Notice period buyback amount</th>
    <th>Remarks 1</th>
    <th>Remarks 2</th>
    <th>Remarks 3</th>
    <th>Remarks 4</th>
    <th>Remarks 5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidate_masters.each do |candidate_master| %>
  <tr>
    <td><%= candidate_master.candidate_code %></td>
    <td><%= candidate_master.candidate_name %></td>
    <td><%= candidate_master.candidate_middle_name %></td>
    <td><%= candidate_master.status %></td>
    <td><%= candidate_master.gender %></td>
    <td><%= candidate_master.marital_status %></td>
    <td><%= candidate_master.date_of_birth %></td>
    <td><%= candidate_master.total_work_exp_years %></td>
    <td><%= candidate_master.total_work_exp_months %></td>
    <td><%= candidate_master.official_email %></td>
    <td><%= candidate_master.personal_email %></td>
    <td><%= candidate_master.bank_name %></td>
    <td><%= candidate_master.account_number %></td>
    <td><%= candidate_master.pf_no %></td>
    <td><%= candidate_master.esic_no %></td>
    <td><%= candidate_master.pan_no %></td>
    <td><%= candidate_master.current_location %></td>
    <td><%= candidate_master.salary_expectation_fixed %></td>
    <td><%= candidate_master.salary_expectation_variable %></td>
    <td><%= candidate_master.notice_period %></td>
    <td><%= candidate_master.notice_period_buyback? %></td>
    <td><%= candidate_master.notice_period_buyback_amount %></td>
    <td><%= candidate_master.remarks_1 %></td>
    <td><%= candidate_master.remarks_2 %></td>
    <td><%= candidate_master.remarks_3 %></td>
    <td><%= candidate_master.remarks_4 %></td>
    <td><%= candidate_master.remarks_5 %></td>
    <td><%= link_to 'Show', candidate_master %></td>
    <td><%= link_to 'Edit', edit_candidate_master_path(candidate_master) %></td>
    <td><%= link_to 'Destroy', candidate_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate master', new_candidate_master_path %>
