<p id="notice"><%= notice %></p>

<p>
  <b>Candidate code:</b>
  <%= @candidate_master.candidate_code %>
</p>

<p>
  <b>Candidate name:</b>
  <%= @candidate_master.candidate_name %>
</p>

<p>
  <b>Candidate middle name:</b>
  <%= @candidate_master.candidate_middle_name %>
</p>

<p>
  <b>Status:</b>
  <%= @candidate_master.status %>
</p>

<p>
  <b>Gender:</b>
  <%= @candidate_master.gender %>
</p>

<p>
  <b>Marital status:</b>
  <%= @candidate_master.marital_status %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @candidate_master.date_of_birth %>
</p>

<p>
  <b>Total work exp years:</b>
  <%= @candidate_master.total_work_exp_years %>
</p>

<p>
  <b>Total work exp months:</b>
  <%= @candidate_master.total_work_exp_months %>
</p>

<p>
  <b>Official email:</b>
  <%= @candidate_master.official_email %>
</p>

<p>
  <b>Personal email:</b>
  <%= @candidate_master.personal_email %>
</p>

<p>
  <b>Bank name:</b>
  <%= @candidate_master.bank_name %>
</p>

<p>
  <b>Account number:</b>
  <%= @candidate_master.account_number %>
</p>

<p>
  <b>Pf no:</b>
  <%= @candidate_master.pf_no %>
</p>

<p>
  <b>Esic no:</b>
  <%= @candidate_master.esic_no %>
</p>

<p>
  <b>Pan no:</b>
  <%= @candidate_master.pan_no %>
</p>

<p>
  <b>Current location:</b>
  <%= @candidate_master.current_location %>
</p>

<p>
  <b>Salary expectation fixed:</b>
  <%= @candidate_master.salary_expectation_fixed %>
</p>

<p>
  <b>Salary expectation variable:</b>
  <%= @candidate_master.salary_expectation_variable %>
</p>

<p>
  <b>Notice period:</b>
  <%= @candidate_master.notice_period %>
</p>

<p>
  <b>Notice period buyback?:</b>
  <%= @candidate_master.notice_period_buyback? %>
</p>

<p>
  <b>Notice period buyback amount:</b>
  <%= @candidate_master.notice_period_buyback_amount %>
</p>

<p>
  <b>Remarks 1:</b>
  <%= @candidate_master.remarks_1 %>
</p>

<p>
  <b>Remarks 2:</b>
  <%= @candidate_master.remarks_2 %>
</p>

<p>
  <b>Remarks 3:</b>
  <%= @candidate_master.remarks_3 %>
</p>

<p>
  <b>Remarks 4:</b>
  <%= @candidate_master.remarks_4 %>
</p>

<p>
  <b>Remarks 5:</b>
  <%= @candidate_master.remarks_5 %>
</p>


<%= link_to 'Edit', edit_candidate_master_path(@candidate_master) %> |
<%= link_to 'Back', candidate_masters_path %>
