<%= form_for @role,:url => (@new ? generic_create_path(@role.class) : generic_update_path(@role.class,@role.id)) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>
      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label for="<%= @form[:role_name].to_s %>" class="control-label"><%= @form[:role_name].to_s %></label>
    <div class="controls">
        <%= f.text_field :name %>
    </div>

    <% if !params[:process_id].nil? %>
        <%= hidden_field_tag :process_id, params[:process_id] %>
        <%= hidden_field_tag :seq, params[:seq] %>
    <% end %>

  </div>
  <div class="actions">
    <%= f.submit @form_config[:submit], :class=>"btn btn-info" %>
  </div>
<% end %>
