<p id="notice"><%= notice %></p>

<div class="row-fluid">
  <div class="offset1 span6">
    <div class="table-header">
      Interview Type Details :-
    </div>
    <table class="table table-striped table-bordered table-hover">
      <tbody>
          <tr>
            <th>Name</th>
            <td><%= @interview_type.name %></td>
          </tr>
          <tr>
            <th>Description</th>
            <td><%= @interview_type.description %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Edit', edit_interview_type_path(@interview_type) %> |
<%= link_to 'Back', interview_types_path %>
