<p id="notice"><%= notice %></p>


<p>
<b>Current designation:</b>
<%= @employee_detail.current_designation %>
</p>

<p>
<b>Job:</b>
<%= @employee_detail.job_role_id %>
</p>

<p>
<b>Band:</b>
<%= @employee_detail.band_id %>
</p>

<p>
<b>Total work exp years:</b>
<%= @employee_detail.total_work_exp_years %>
</p>

<p>
<b>Total work exp months:</b>
<%= @employee_detail.total_work_exp_months %>
</p>

<p>
<b>Personal email:</b>
<%= @employee_detail.personal_email %>
</p>

<p>
<b>Contact numbers:</b>
<%= @employee_detail.contact_numbers %>
</p>

<p>
<b>Personal address:</b>
<%= @employee_detail.personal_address %>
</p>

<p>
<b>Bank name:</b>
<%= @employee_detail.bank_name %>
</p>

<p>
<b>Account number:</b>
<%= @employee_detail.account_number %>
</p>

<p>
<b>Rf no:</b>
<%= @employee_detail.rf_no %>
</p>

<p>
<b>Esic no:</b>
<%= @employee_detail.esic_no %>
</p>

<p>
<b>Pan no:</b>
<%= @employee_detail.pan_no %>
</p>

<p>
<b>Blood group:</b>
<%= @employee_detail.blood_group %>
</p>

<p>
<b>Date of leaving:</b>
<%= @employee_detail.date_of_leaving %>
</p>

<p>
<b>Nature of separation:</b>
<%= @employee_detail.nature_of_separation %>
</p>

<p>
<b>Remarks 1:</b>
<%= @employee_detail.remarks_1 %>
</p>

<p>
<b>Remarks 2:</b>
<%= @employee_detail.remarks_2 %>
</p>

<p>
<b>Remarks 3:</b>
<%= @employee_detail.remarks_3 %>
</p>

<p>
<b>Remarks 4:</b>
<%= @employee_detail.remarks_4 %>
</p>

<p>
<b>Remarks 5:</b>
<%= @employee_detail.remarks_5 %>
</p>

<%= link_to 'Edit', edit_employee_detail_path(@employee_detail) %> |
<%= link_to 'Back', employee_details_path %>
