<%= nested_form_for(@process_master, html: {class: "form-horizontal"}) do |f| %>
  <% if @process_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@process_master.errors.count, "error") %> prohibited this process_master from being saved:</h2>

      <ul>
      <% @process_master.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row-fluid">
      <div class="span12">
        <div class="control-group">
          <%= f.label :name, :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">
        <%= f.fields_for :step_masters do |step_master| %>
            <div class="control-group">
              <%#= step_master.label :name, :class => "control-label" %>
              <label class="control-label">Step 1</label>
              <div class="controls">
                <%= step_master.text_field :name %>
                <%= step_master.link_to_remove "Remove this task" %>
              </div>
            </div>
        <% end %>
        <%= f.link_to_add "Add New Step", :step_masters %>
      </div>
    </div>
    <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
