<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @goal.name %>
</p>

<p>
  <b>Group:</b>
  <%= @goal.group_id %>
</p>

<p>
  <b>Periodicity:</b>
  <%= @goal.periodicity %>
</p>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
