<div class="row-fluid">
  <%= form_for(@document_template_master,html: {class: "form-horizontal"}) do |f| %>
      <% if @document_template_master.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@document_template_master.errors.count, "error") %> prohibited this document_template_master from being saved:</h2>

            <ul>
              <% @document_template_master.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="control-group">
        <%= f.label :dt_code,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :dt_code %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description,:class => "control-label" %>
        <div class="controls">
          <%= f.text_area :description %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :related_to,:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :related_to %>
        </div>
      </div>

      <!--<div class="control-group">-->
      <%#= f.label :file %>
      <%#= f.text_field :file %>
      <!--</div>-->

      <% @fields = DynamicField.where(:oclass=>"DocumentTemplateMaster") %>
      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym,:class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym )%>
            </div>
          </div>
      <% end %>


      <div class="form-actions">
        <%= f.submit :class=>"btn btn-info" %>
      </div>


<% end %>
</div>



