<h1>Listing Document Template Masters</h1>

<div class="row-fluid">
  <div class="offset1 span8">
    <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th>Dt Code</th>
            <th>Description</th>
            <th>Related To</th>
            <th>File</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @document_template_masters.each do |document_template_master| %>
              <tr>
                <td><%= document_template_master.dt_code %></td>
                <td><%= document_template_master.description %></td>
                <td><%= document_template_master.related_to %></td>
                <td><%= document_template_master.file %></td>
                <td><%= link_to 'Show', document_template_master %></td>
                <td><%= link_to 'Edit', edit_document_template_master_path(document_template_master) %></td>
                <td><%= link_to 'Destroy', document_template_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<br />

<%= link_to 'New Document template master', new_document_template_master_path %>
