<p id="notice"><%= notice %></p>

<p>
  <b>Kra:</b>
  <%= @pms_kra_kpi_tab.kra %>
</p>

<p>
  <b>Objorsub:</b>
  <%= @pms_kra_kpi_tab.objorsub %>
</p>

<p>
  <b>Unit:</b>
  <%= @pms_kra_kpi_tab.unit %>
</p>

<p>
  <b>:</b>
  <%= @pms_kra_kpi_tab. %>
</p>

<p>
  <b>Kpi range1:</b>
  <%= @pms_kra_kpi_tab.kpi_range1 %>
</p>

<p>
  <b>Kpi range2:</b>
  <%= @pms_kra_kpi_tab.kpi_range2 %>
</p>

<p>
  <b>Kpi range3:</b>
  <%= @pms_kra_kpi_tab.kpi_range3 %>
</p>

<p>
  <b>Kpi range4:</b>
  <%= @pms_kra_kpi_tab.kpi_range4 %>
</p>

<p>
  <b>Kpi range5:</b>
  <%= @pms_kra_kpi_tab.kpi_range5 %>
</p>

<p>
  <b>Percentage:</b>
  <%= @pms_kra_kpi_tab.percentage %>
</p>

<p>
  <b>Linked to:</b>
  <%= @pms_kra_kpi_tab.linked_to %>
</p>


<%= link_to 'Edit', edit_pms_kra_kpi_tab_path(@pms_kra_kpi_tab) %> |
<%= link_to 'Back', pms_kra_kpi_tabs_path %>
