<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <meta name="description" content=""/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>CodeHR</title>
  <%#= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/assets/jquery.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
  <!-- basic styles -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet"/>

  <link href="/assets/bootstrap-responsive.min.css" rel="stylesheet"/>

  <link rel="stylesheet" href="/assets/font-awesome.min.css"/>
  <!--[if IE 7]>
  <link rel="stylesheet" href="/assets/font-awesome-ie7.min.css"/>
  <![endif]-->



  <!-- page specific plugin styles -->
  <link rel="stylesheet" href="/assets/jquery-ui-1.10.2.custom.min.css" />
  <link rel="stylesheet" href="/assets/chosen.css" />
  <link rel="stylesheet" href="/assets/datepicker.css" />
  <link rel="stylesheet" href="/assets/bootstrap-timepicker.css" />
  <link rel="stylesheet" href="/assets/daterangepicker.css" />
  <link rel="stylesheet" href="/assets/colorpicker.css" />




  <!-- ace styles -->
  <link rel="stylesheet" href="/assets/ace.min.css"/>
  <link rel="stylesheet" href="/assets/ace-responsive.min.css"/>
  <link rel="stylesheet" href="/assets/ace-skins.min.css"/>
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/assets/ace-ie.min.css"/>
  <link rel="stylesheet" href="/assets/hris.css"/>
  <![endif]-->
</head>

<body>
<div class="navbar navbar-inverse">
<div class="navbar-inner">
<div class="container-fluid">


<a class="brand" href="#">
  <small><i class="icon-leaf"></i> CodeHR</small>
</a>
<ul class="nav ace-nav pull-right">
<li class="grey">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-tasks"></i>
    <span class="badge">4</span>
  </a>
  <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
    <li class="nav-header">
      <i class="icon-ok"></i> 4 Tasks to complete
    </li>

    <li>
      <a href="#">
        <div class="clearfix">
          <span class="pull-left">Software Update</span>
          <span class="pull-right">65%</span>
        </div>
        <div class="progress progress-mini">
          <div class="bar" style="width:65%"></div>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="clearfix">
          <span class="pull-left">Hardware Upgrade</span>
          <span class="pull-right">35%</span>
        </div>
        <div class="progress progress-mini progress-danger">
          <div class="bar" style="width:35%"></div>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="clearfix">
          <span class="pull-left">Unit Testing</span>
          <span class="pull-right">15%</span>
        </div>
        <div class="progress progress-mini progress-warning">
          <div class="bar" style="width:15%"></div>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="clearfix">
          <span class="pull-left">Bug Fixes</span>
          <span class="pull-right">90%</span>
        </div>
        <div class="progress progress-mini progress-success progress-striped active">
          <div class="bar" style="width:90%"></div>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        See tasks with details
        <i class="icon-arrow-right"></i>
      </a>
    </li>
  </ul>
</li>


<li class="purple">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-bell-alt icon-animated-bell icon-only"></i>
    <span class="badge badge-important"><%= current_user.notification_masters.count %></span>
  </a>
  <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
    <li class="nav-header">
      <i class="icon-warning-sign"></i> <%= current_user.notification_masters.count %> Unread Notifications
    </li>

    <li>
      <a href="#">
        <div class="clearfix">
          <span class="pull-left"><i class="icon-comment btn btn-mini btn-pink"></i> New Notifications</span>
          <span class="pull-right badge badge-info"><%= current_user.notification_masters.count %></span>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <%= link_to 'See all notifications', notification_masters_path %>
      </a>
    </li>
  </ul>
</li>


<li class="green">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="icon-envelope-alt icon-animated-vertical icon-only"></i>
    <span class="badge badge-success">5</span>
  </a>
  <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
    <li class="nav-header">
      <i class="icon-envelope"></i> 5 Messages
    </li>

    <li>
      <a href="#">
        <img alt="Alex's Avatar" class="msg-photo" src="/assets/avatar.png"/>
									<span class="msg-body">
										<span class="msg-title">
											<span class="blue">Alex:</span>
											Ciao sociis natoque penatibus et auctor ...
										</span>
										<span class="msg-time">
											<i class="icon-time"></i> <span>a moment ago</span>
										</span>
									</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img alt="Susan's Avatar" class="msg-photo" src="/assets/avatar3.png"/>
									<span class="msg-body">
										<span class="msg-title">
											<span class="blue">Susan:</span>
											Vestibulum id ligula porta felis euismod ...
										</span>
										<span class="msg-time">
											<i class="icon-time"></i> <span>20 minutes ago</span>
										</span>
									</span>
      </a>
    </li>

    <li>
      <a href="#">
        <img alt="Bob's Avatar" class="msg-photo" src="/assets/avatar4.png"/>
									<span class="msg-body">
										<span class="msg-title">
											<span class="blue">Bob:</span>
											Nullam quis risus eget urna mollis ornare ...
										</span>
										<span class="msg-time">
											<i class="icon-time"></i> <span>3:15 pm</span>
										</span>
									</span>
      </a>
    </li>

    <li>
      <a href="#">
        See all messages
        <i class="icon-arrow-right"></i>
      </a>
    </li>

  </ul>
</li>


<li class="light-blue user-profile">
  <a class="user-menu dropdown-toggle" href="#" data-toggle="dropdown">
    <img alt="Jason's Photo" src="/assets/user.jpg" class="nav-user-photo"/>
							<span id="user_info">
								<small>Welcome,</small>
                              <!--Jason-->
                              <% if current_user.name.blank? %>
                                User
                              <% else %>
                                <%= current_user.name %>
                              <% end %>
							</span>
    <i class="icon-caret-down"></i>
  </a>
  <ul id="user_menu" class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
    <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
    <li><a href="#"><i class="icon-user"></i> Profile</a></li>
    <li class="divider"></li>
    <li><a href="<%= destroy_user_session_path %>"><i class="icon-off"></i> Logout</a></li>
  </ul>
</li>


</ul>
<!--/.ace-nav-->

</div>
<!--/.container-fluid-->
</div>
<!--/.navbar-inner-->
</div>
<!--/.navbar-->

<div class="container-fluid" id="main-container">
  <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->

  <div id="sidebar">

    <div id="sidebar-shortcuts">
      <div id="sidebar-shortcuts-large">
        <button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
        <button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
        <button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
        <button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
      </div>
      <div id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>
        <span class="btn btn-info"></span>
        <span class="btn btn-warning"></span>
        <span class="btn btn-danger"></span>
      </div>
    </div>
    <!-- #sidebar-shortcuts -->

    <ul class="nav nav-list">
      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-copy"></i>
          <span>User Management</span>
          <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu">
          <li><%= link_to "Employee Masters", employee_masters_path%></li>
          <li><%= link_to "Candidate Masters", candidate_masters_path%></li>
          <li><%= link_to "Role" %></li>
        </ul>
      </li>
    </ul>

    <ul class="nav nav-list">
      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-dashboard"></i>
          <span>Document Management</span>
          <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu">
          <li><%= link_to "Document Masters", document_masters_path%></li>
          <li><%= link_to "Document Template Masters", document_template_masters_path%></li>
        </ul>
      </li>
    </ul>


    <ul class="nav nav-list">
      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-dashboard"></i>
          <span>Rule Management</span>
          <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu">
          <li><%= link_to "Rules", ""%></li>
        </ul>
      </li>
    </ul>


    <ul class="nav nav-list">
      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-group"></i>
          <span>Recruitment</span>
          <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu">
          <li><%= link_to "Interview Type", interview_types_path %></li>
          <li><%= link_to "Ratings", ratings_path %></li>
          <li><%= link_to "Rating Scales", rating_scales_path %></li>
        </ul>
      </li>
    </ul>

    <ul class="nav nav-list">
      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-group"></i>
          <span>Process Management</span>
          <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu">
          <li><%= link_to "Process Master", ""%></li>
          <li><%= link_to "Process TR", ""%></li>
        </ul>
      </li>
    </ul>

    <ul class="nav nav-list">
      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-certificate"></i>
          <span>Company</span>
          <b class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu">
          <li><%= link_to "Company Master", company_masters_path%></li>
        </ul>
      </li>
    </ul>
    <!--/.nav-list-->

    <div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>


  </div>
  <!--/#sidebar-->


  <div id="main-content" class="clearfix">

    <div id="breadcrumbs">
      <!--<ul class="breadcrumb">-->
      <!--<li><i class="icon-home"></i> <a href="#">Home</a><span class="divider"><i class="icon-angle-right"></i></span>-->
      <!--</li>-->
      <!--<li><a href="#">Other Pages</a> <span class="divider"><i class="icon-angle-right"></i></span></li>-->
      <!--<li class="active">Blank Page</li>-->
      <!--</ul>-->
      <!--.breadcrumb-->

      <!--<div id="nav-search">-->
      <!--<form class="form-search">-->
      <!--<span class="input-icon">-->
      <!--<input autocomplete="off" id="nav-search-input" type="text" class="input-small search-query" placeholder="Search ..."/>-->
      <!--<i id="nav-search-icon" class="icon-search"></i>-->
      <!--</span>-->
      <!--</form>-->
      <!--</div>-->
      <!--#nav-search-->
    </div>
    <!--#breadcrumbs-->


    <div id="page-content" class="clearfix">


      <!--<div class="row-fluid">-->
      <!-- PAGE CONTENT BEGINS HERE -->
      <%= yield %>
      <!-- PAGE CONTENT ENDS HERE -->
      <!--</div>-->
      <!--/row-->

    </div>
    <!--/#page-content-->



  </div>
  <!-- #main-content -->


</div>
<!--/.fluid-container#main-container-->


<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
  <i class="icon-double-angle-up icon-only"></i>
</a>


<!-- basic scripts -->


<script type="text/javascript">

    $(function() {

        var oTable = $('#table_report').dataTable({
//                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sSearch": "Search all columns:"},
            "aoColumnDefs": [
                { bSortable: true, aTargets: [ '_all' ] }]
//            "oTableTools": {
//                "aButtons": [
//                    "csv",
//                    "xls",
//                    "print"
//                ]
//            }
        }).columnFilter();

        $('.text_filter').css('width','65%');

        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function () {
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });

        });

        $('[data-rel=tooltip]').tooltip();

        $('#id-disable-check').on('click', function() {
            var inp = $('#form-input-readonly').get(0);
            if(inp.hasAttribute('disabled')) {
                inp.setAttribute('readonly' , 'true');
                inp.removeAttribute('disabled');
                inp.value="This text field is readonly!";
            }
            else {
                inp.setAttribute('disabled' , 'disabled');
                inp.removeAttribute('readonly');
                inp.value="This text field is disabled!";
            }
        });


        $(".chzn-select").chosen();
        $(".chzn-select-deselect").chosen({allow_single_deselect:true});

        $('.ace-tooltip').tooltip();
        $('.ace-popover').popover();

        $('textarea[class*=autosize]').autosize({append: "\n"});
        $('textarea[class*=limited]').each(function() {
            var limit = parseInt($(this).attr('data-maxlength')) || 100;
            $(this).inputlimiter({
                "limit": limit,
                remText: '%n character%s remaining...',
                limitText: 'max allowed : %n.'
            });
        });

        $.mask.definitions['~']='[+-]';
        $('.input-mask-date').mask('99/99/9999');
        $('.input-mask-phone').mask('(999) 999-9999');
        $('.input-mask-eyescript').mask('~9.99 ~9.99 999');
        $(".input-mask-product").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});



        $( "#input-size-slider" ).css('width','200px').slider({
            value:1,
            range: "min",
            min: 1,
            max: 6,
            step: 1,
            slide: function( event, ui ) {
                var sizing = ['', 'input-mini', 'input-small', 'input-medium', 'input-large', 'input-xlarge', 'input-xxlarge'];
                var val = parseInt(ui.value);
                $('#form-field-4').attr('class', sizing[val]).val('.'+sizing[val]);
            }
        });

        $( "#input-span-slider" ).slider({
            value:1,
            range: "min",
            min: 1,
            max: 11,
            step: 1,
            slide: function( event, ui ) {
                var val = parseInt(ui.value);
                $('#form-field-5').attr('class', 'span'+val).val('.span'+val).next().attr('class', 'span'+(12-val)).val('.span'+(12-val));
            }
        });


        var $tooltip = $("<div class='tooltip right in' style='display:none;'><div class='tooltip-arrow'></div><div class='tooltip-inner'></div></div>").appendTo('body');
        $( "#slider-range" ).css('height','200px').slider({
            orientation: "vertical",
            range: true,
            min: 0,
            max: 100,
            values: [ 17, 67 ],
            slide: function( event, ui ) {
                var val = ui.values[$(ui.handle).index()-1]+"";

                var pos = $(ui.handle).offset();
                $tooltip.show().children().eq(1).text(val);
                $tooltip.css({top:pos.top - 10 , left:pos.left + 18});

                //$(this).find('a').eq(which).attr('data-original-title' , val).tooltip('show');
            }
        });
        $('#slider-range a').tooltip({placement:'right', trigger:'manual', animation:false}).blur(function(){
            $tooltip.hide();
            //$(this).tooltip('hide');
        });
        //$('#slider-range a').tooltip({placement:'right', animation:false});

        $( "#slider-range-max" ).slider({
            range: "max",
            min: 1,
            max: 10,
            value: 2
            //slide: function( event, ui ) {
            //	$( "#amount" ).val( ui.value );
            //}
        });
        //$( "#amount" ).val( $( "#slider-range-max" ).slider( "value" ) );

        $( "#eq > span" ).css({width:'90%', float:'left', margin:'15px'}).each(function() {
            // read initial values from markup and remove that
            var value = parseInt( $( this ).text(), 10 );
            $( this ).empty().slider({
                value: value,
                range: "min",
                animate: true

            });
        });


        $('#id-input-file-1 , #id-input-file-2').ace_file_input({
            no_file:'No File ...',
            btn_choose:'Choose',
            btn_change:'Change',
            droppable:false,
            onchange:null,
            thumbnail:false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });

        $('#id-input-file-3').ace_file_input({
            style:'well',
            btn_choose:'Drop files here or click to choose',
            btn_change:null,
            no_icon:'icon-cloud-upload',
            droppable:true,
            onchange:null,
            thumbnail:'small',
            before_change:function(files, dropped) {
                /**
                 if(files instanceof Array || (!!window.FileList && files instanceof FileList)) {
                 //check each file and see if it is valid, if not return false or make a new array, add the valid files to it and return the array
                 //note: if files have not been dropped, this does not change the internal value of the file input element, as it is set by the browser, and further file uploading and handling should be done via ajax, etc, otherwise all selected files will be sent to server
                 //example:
                 var result = []
                 for(var i = 0; i < files.length; i++) {
                 var file = files[i];
                 if((/^image\//i).test(file.type) && file.size < 102400)
                 result.push(file);
                 }
                 return result;
                 }
                 */
                return true;
            }
            /*,
             before_remove : function() {
             return true;
             }*/

        }).on('change', function(){
                    //console.log($(this).data('ace_input_files'));
                    //console.log($(this).data('ace_input_method'));
                });


        $('#spinner1').ace_spinner({value:0,min:0,max:200,step:10, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
                .on('change', function(){
                    //alert(this.value)
                });
        $('#spinner2').ace_spinner({value:0,min:0,max:10000,step:100, icon_up:'icon-caret-up', icon_down:'icon-caret-down'});
        $('#spinner3').ace_spinner({value:0,min:-100,max:100,step:10, icon_up:'icon-plus', icon_down:'icon-minus', btn_up_class:'btn-success' , btn_down_class:'btn-danger'});


        /**
         var stubDataSource = {
         data: function (options, callback) {

         setTimeout(function () {
         callback({
         data: [
         { name: 'Test Folder 1', type: 'folder', additionalParameters: { id: 'F1' } },
         { name: 'Test Folder 1', type: 'folder', additionalParameters: { id: 'F2' } },
         { name: 'Test Item 1', type: 'item', additionalParameters: { id: 'I1' } },
         { name: 'Test Item 2', type: 'item', additionalParameters: { id: 'I2' } }
         ]
         });
         }, 0);

         }
         };
         $('#MyTree').tree({ dataSource: stubDataSource , multiSelect:true })
         */

        $('.date-picker').datepicker();
        $('#timepicker1').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false
        });

        $('#id-date-range-picker-1').daterangepicker();

        $('#colorpicker1').colorpicker();
        $('#simple-colorpicker-1').ace_colorpicker();


        $(".knob").knob();


    });

</script>

</body>
</html>