<h1>Listing Job Description Masters</h1>

<div class="row-fluid">
  <div class="offset1 span8">
    <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th>Job Code</th>
            <th>Job Title</th>
            <th>Description</th>
            <th>Min Year of Experience</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @job_description_masters.each do |job_description_master| %>
              <tr>
                <td><%= job_description_master.job_code %></td>
                <td><%= job_description_master.job_title %></td>
                <td><%= job_description_master.description %></td>
                <td><%= job_description_master.min_year_of_experience %></td>
                <td><%= link_to 'Show', job_description_master %></td>
                <td><%= link_to 'Edit', edit_job_description_master_path(job_description_master) %></td>
                <td><%= link_to 'Destroy', job_description_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<br />

<%= link_to 'New Job description master', new_job_description_master_path %>
