<div class="row-fluid">
  <%= nested_form_for(@vacancy_master, :url => (@new ? generic_create_path(@vacancy_master.class) : generic_update_path(@vacancy_master.class,@vacancy_master.id)), html: {class: "form-horizontal"}) do |f| %>
      <% if @vacancy_master.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@vacancy_master.errors.count, "error") %> prohibited this vacancy_master from being saved:</h2>

            <ul>
              <% @vacancy_master.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@vacancy_master, :vacancy_code) %>
            <label for="<%= @form[:vacancy_code].to_s %>" class="control-label"><%= @form[:vacancy_code].to_s %></label>
            <div class="controls">
              <%= f.text_field :vacancy_code %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :manpower_planning_id,:class => "control-label" %>
            <label for="<%= @form[:manpower_planning_id].to_s %>" class="control-label"><%= @form[:manpower_planning_id].to_s %></label>
            <div class="controls">
              <%= f.number_field :manpower_planning_id %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :description,:class => "control-label" %>
            <label for="<%= @form[:description].to_s %>" class="control-label"><%= @form[:description].to_s %></label>
            <div class="controls">
              <%= f.text_area(:description, size:"20x5")  %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= f.label :status,:class => "control-label" %>
            <label for="<%= @form[:status].to_s %>" class="control-label"><%= @form[:status].to_s %></label>
            <div class="controls">
              <%= f.select :status, ['Created', 'Tech Interview', 'HR Interview', 'Selected', 'Rejected'] %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@vacancy_master, :sourcing_strategy) %>
            <label for="<%= @form[:sourcing_strategy].to_s %>" class="control-label"><%= @form[:sourcing_strategy].to_s %></label>
            <div class="controls">
              <%= f.text_field :sourcing_strategy %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@vacancy_master, :hr_rep) %>
            <label for="<%= @form[:hr_rep].to_s %>" class="control-label"><%= @form[:hr_rep].to_s %></label>
            <div class="controls">
              <%= f.text_field :hr_rep %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= f.label :hiring_manager,:class => "control-label" %>
            <label for="<%= @form[:hiring_manager].to_s %>" class="control-label"><%= @form[:hiring_manager].to_s %></label>
            <div class="controls">
              <%= f.text_field :hiring_manager %>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@vacancy_master, :ctc_range_from) %>
            <label for="<%= @form[:ctc_range_from].to_s %>" class="control-label"><%= @form[:ctc_range_from].to_s %></label>
            <div class="controls">
              <%= f.number_field :ctc_range_from %>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div class="control-group">
            <%#= raw custom_lable(@vacancy_master, :ctc_range_to) %>
            <label for="<%= @form[:ctc_range_to].to_s %>" class="control-label"><%= @form[:ctc_range_to].to_s %></label>
            <div class="controls">
              <%= f.number_field :ctc_range_to %>
            </div>
          </div>
        </div>
      </div>
      <hr>

      <% @fields = DynamicField.where(:oclass=>"VacancyMaster") %>
      <h3 class="header lighter blue">Dynamic Field</h3>
      <% @fields.each do |field| %>
          <div class="control-group">
            <%= f.label field.name.to_sym,:class => "control-label" %>
            <div class="controls">
              <%= f.send(field.type.to_sym, field.name.to_sym )%>
            </div>
          </div>
      <% end %>


      <div class="form-actions">
        <%= f.submit @form_config[:submit], :class=>"btn btn-info" %>
      </div>
  <% end %>
</div>


